@using MCAWebAndAPI.Model.ViewModel.Form.Finance
@model TaxReimbursementVM

@{
    ViewBag.Title = "CreateTaxReimbursement";
}

@using (Html.BeginForm("CreateTaxReimbursement", "FINTaxReimbursementController", FormMethod.Post,
            new
            {
                @class = "form-horizontal",
                enctype = "multipart/form-data"
            }))
{
    <fieldset>
        <legend>Tax Reimbursement</legend>
      
          <div class="row">
           
     
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Type).Class("col-xs-4 control-label")
                <div class="col-xs-8">
                    @Html.DisplayFor(m => m.Type)
                </div>
            </div>


            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.LetterNo).Class("col-xs-4 control-label")
                <div class="col-xs-8">
                    @Html.DisplayFor(m => m.LetterNo)
                </div>
            </div>


              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.LetterDate).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.DisplayFor(m => m.LetterDate)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.Category).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.DisplayFor(m => m.Category)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.ContractorId).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.DisplayFor(m => m.ContractorId)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.Object).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.DisplayFor(m => m.Object)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.Period).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.DisplayFor(m => m.Period)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.AmountIDR).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.DisplayFor(m => m.AmountIDR)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.Remarks).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.DisplayFor(m => m.Remarks)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.PaymentReceivedDate).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.DisplayFor(m => m.PaymentReceivedDate)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.DocumentNo).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.DisplayFor(m => m.DocumentNo)
                  </div>
              </div>

        </div>


    </fieldset>

    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
                <button id="cancel-button" class="btn btn-default" type="button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
}
@section scripts{
    <script>
        $(document).ready(function () {

        });
    </script>
}