@* Wireframe FIN18: Tax Reimbursement *@
@model MCAWebAndAPI.Model.ViewModel.Form.Finance.TaxReimbursementVM

@{
    ViewBag.Title = "CreateTaxReimbursement";
}

@using (Html.BeginForm("Item", "FINTaxReimbursement",
    FormMethod.Post,
    new
    {
        @class = "form-horizontal",
        enctype = "multipart/form-data"
    }))
{
    <fieldset>
        <legend>Tax Reimbursement</legend>
      
          <div class="row">
           
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Type).Class("col-xs-4 control-label")
                <div class="col-xs-8">
                    @Html.EditorFor(m => m.Type)
                </div>
            </div>

        
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.LetterNo).Class("col-xs-4 control-label")
                <div class="col-xs-8">
                    @Html.EditorFor(m => m.LetterNo)
                </div>
            </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.LetterDate).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.EditorFor(m => m.LetterDate)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.Category).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.EditorFor(m => m.Category)
                  </div>
              </div>

              <div id="vendorDiv" class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.Vendor).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.EditorFor(m => m.Vendor)
                      <input type="hidden" id="hiddenVendorId" value="-1" name="hiddenVendorId" />
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.Contractor).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.EditorFor(m => m.Contractor)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.Object).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.EditorFor(m => m.Object)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.Period).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.EditorFor(m => m.Period)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.AmountIDR).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.EditorFor(m => m.AmountIDR)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.Remarks).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.EditorFor(m => m.Remarks)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.PaymentReceivedDate).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.EditorFor(m => m.PaymentReceivedDate)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.DocumentNo).Class("col-xs-4 control-label")
                  <div class="col-xs-8">
                      @Html.EditorFor(m => m.DocumentNo)
                  </div>
              </div>

              <div class="form-group">
                  @Html.Bootstrap().LabelFor(m => m.Documents).Class("col-sm-4 control-label")
                  <div class="col-sm-8">
                      @Html.EditorFor(m => m.Documents)
                  </div>
              </div>

        </div>


    </fieldset>

    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
                <button id="cancel-button" class="btn btn-default" type="button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
}
@section scripts{
<script>
    $(document).ready(function () {
        SetEnablednessBasedOnCategory(CategoryVendor);

        $('#Contractor').prop('readonly', true);
    });

    var CategoryVendor = "Vendor";
    var CategoryMCAI = "MCA Indonesia";

    function SetEnablednessBasedOnCategory(data) {
        var vendorDropDownList = $("#Vendor_Value").data("kendoDropDownList");

        switch (data) {
            case CategoryVendor:
                vendorDropDownList.enable(true);
                $("#vendorDiv").show('slow');
                $("#Contractor").val('');
                break;

            case CategoryMCAI:
                vendorDropDownList.enable(false);
                $("#vendorDiv").hide('slow');
                $("#Contractor").val(CategoryMCAI);
                break;

            default:
                vendorDropDownList.enable(false);
                break;

        }
    }


    function onSelectCategory(e) {
        var data = this.dataItem(e.item);
        SetEnablednessBasedOnCategory(data);
    }

    function onSelectVendor(e) {
        var dataItem = this.dataItem(e.item);
        $("#Contractor").val(dataItem.Text);
        $("#hiddenVendorId").val(dataItem.Value);
    }

</script>
}