@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ApplicationShortlistVM

@{
    ViewBag.Title = "Interviewlist";
}

@using (Html.BeginForm("CreateInterviewlistData", "HRInterviewlist", FormMethod.Post, new
{
    @class = "form-horizontal",
    enctype = "multipart/form-data"
}))
{
    <fieldset>
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.Position)
        @Html.HiddenFor(m => m.Candidate)
        
        <div class="form-actions">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Candidate).Class("col-sm-2 control-label")
                    <div class="col-sm-6">
                        <input id="val-candidate" class="form-control" value="" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Position).Class("col-sm-2 control-label")
                    <div class="col-sm-6">
                        <input id="vac-position" class="form-control" value="" />
                    </div>
                </div>
                    <div class="form-group">
                        @Html.Bootstrap().LabelFor(m => m.Remarks).Class("col-xs-2 control-label")
                        <div class="col-xs-6">
                            @Html.EditorFor(m => m.Remarks)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Bootstrap().LabelFor(m => m.GetResultOptions).Class("col-xs-2 control-label")
                        <div class="col-xs-2">
                            @Html.EditorFor(m => m.GetResultOptions)
                        </div>
                    </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.OtherPosition).Class("col-md-2 control-label")
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.OtherPosition)
                    </div>
                </div>
                    <div class="form-group">
                        @Html.Bootstrap().LabelFor(m => m.AttDocuments).Class("col-xs-2 control-label")
                        <div class="col-xs-2">
                            @Html.EditorFor(m => m.AttDocuments)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Bootstrap().LabelFor(m => m.NeedNextInterviewer).Class("col-xs-2 control-label")
                        <div class="col-xs-2">
                            @Html.EditorFor(m => m.NeedNextInterviewer)
                        </div>
                    </div>
            <div class="row">
                <label class="col-xs-2 control-label"> Interview Result list </label>
                </div>

            <a id="btn-addnew" class="btn btn-primary" href="http://localhost:15923/HRInterviewlist/InputInterviewResultDetail?siteUrl=https://eceos2.sharepoint.com/sites/ims/hr&ID=@Model.ID" >
                <i class="fa fa-plus"></i>
                Add Interview
            </a>

                <div class="row">
                    @Html.Partial("_InterviewResultlist", Model.InterviewlistDetails)
                </div>

                <div class="col-sm-10">
                    <button id="submit-cancel" class="btn btn-primary" type="button">
                        <i class="fa fa-send"></i>
                        cancel
                    </button>
                    <button id="submit-button" class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        save
                    </button>
                </div>
            </div>
    </fieldset>

}

@section scripts{

    <script>
        function onGetResultOptionsChange(e) {
            var dataItem = $("#GetResultOptions_Value").data("kendoDropDownList").dataItem(e.item);
            //var urlKeyPosition = "/HRDataMaster/GetKeyPosition/" + dataItem.ID;
        };
        $(document).ready(function () {
            $("#vac-position").prop('readonly', 'true');
            $("#val-candidate").prop('readonly', 'true');

            $("#val-candidate").prop("value", $("#Candidate").val());

            var positionID = $("#Position").val();

            var url = "/HRDataMaster/GetPosition/" + positionID;
            $.getJSON(url, function (data) {
                $("#vac-position").prop("value", data.PositionName);
            })
        });

      
    </script>
}

