@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ApplicationShortlistVM

@{
    ViewBag.Title = "Interviewlist";
}

@using (Html.BeginForm("CreateInterviewlistData", "HRInterviewlist", FormMethod.Post, new
{
    @class = "form-horizontal",
    enctype = "multipart/form-data",
    OnSuccess = "getSuccess('Data Successfully Updated & File already uploaded')"
}))
{
    <fieldset>
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.Position)
        @Html.HiddenFor(m => m.ManPos)
        @Html.HiddenFor(m => m.Candidate)
        @Html.HiddenFor(m => m.SendTo)
        @Html.HiddenFor(m => m. Attachmentname)
        
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Candidate).Class("col-sm-2 control-label")
                    <div class="col-sm-6">
                        <input id="val-candidate" class="form-control" value="" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Position).Class("col-sm-2 control-label")
                    <div class="col-sm-6">
                        <input id="vac-position" class="form-control" value="" />
                    </div>
                </div>
                    <div class="form-group"> 
                        @Html.Bootstrap().LabelFor(m => m.Remarks).Class("col-xs-2 control-label")
                        <div class="col-xs-6">
                            @Html.EditorFor(m => m.Remarks)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Bootstrap().LabelFor(m => m.RecommendedForPosition).Class("col-md-2 control-label")
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.RecommendedForPosition)
                        </div>
                    </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.OtherPosition).Class("col-md-2 control-label")
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.OtherPosition)
                    </div>
                </div>
                    <div class="form-group">
                        @Html.Bootstrap().LabelFor(m => m.AttDocuments).Class("col-xs-2 control-label")
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.AttDocuments)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Bootstrap().LabelFor(m => m.Attachmentname).Class("col-sm-2 control-label")
                        <div class="col-sm-6">
                            <input id="attachment-id" class="form-control" value="" />
                            @Html.Bootstrap().LabelFor(m => m.RecommendedForPosition).Class("col-xs-2 control-label")
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Bootstrap().LabelFor(m => m.NeedNextInterviewer).Class("col-xs-2 control-label")
                        <div class="col-xs-2 pull-left">
                                @Html.EditorFor(m => m.NeedNextInterviewer)
                        </div>
                    </div>

        <div class="form-actions">
            <div class="col-sm-12">
                    <button id="submit-button" class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        save
                    </button>
                    <button id="submit-cancel" acti class="btn btn-primary" type="button" onClick="history.go(0)">
                        <i class="fa fa-ban"></i>
                        cancel
                    </button>
                </div>
        </div>

        <a target='_parent' id="btn-addnew" class="btn btn-primary pull-left" href="@Model.InterviewerUrl">
            <i class="fa fa-plus"></i>
            Add detail off interview
        </a>
        <legend>Interview Result list</legend>
        <div class="row">
            @Html.Partial("_InterviewResultlist", Model.InterviewlistDetails)
        </div>
    </fieldset>

}

@section scripts{

    <script>
        function getSuccess(e) {
            alert(e);
        }

        function onPositionChange(e) {
            var res = $("#RecommendedForPosition_Value").val();

            if (res == "For Other Position") {
                $("#OtherPosition_Value").data("kendoDropDownList").enable(true);
            }
            else {
                $("#OtherPosition_Value").data("kendoDropDownList").enable(false);
            }
        };


        $(document).ready(function () {

            $("#submit-button").click(function () {
                showLoading();
            });
            
            $("#vac-position").prop('readonly', 'true');
            $("#val-candidate").prop('readonly', 'true');
            $("#attachment-id").prop('readonly', 'true');

            $("#val-candidate").prop("value", $("#Candidate").val());

            $("#attachment-id").prop("value", $("#Attachmentname").val());

            var positionID = $("#Position").val();

            var url = "/HRDataMaster/GetPosition/" + positionID;
            $.getJSON(url, function (data) {
                $("#vac-position").prop("value", data.PositionName);
            })
            var res = $("#RecommendedForPosition_Value").val();

            if (res == "For Other Position") {
                $("#OtherPosition_Value").data("kendoDropDownList").enable(true);
            }
            else {
                $("#OtherPosition_Value").data("kendoDropDownList").enable(false);
            }
        });

      
    </script>
}

