@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ApplicationShortlistVM

@{
    ViewBag.Title = "Interviewlist";
}

@using (Html.BeginForm("CreateInterviewlistData", "HRInterviewlist", FormMethod.Post, new
{
    @class = "form-horizontal",
    enctype = "multipart/form-data"
}))
{
    <fieldset>
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.Position)
        @Html.HiddenFor(m => m.Candidate)
        @Html.HiddenFor(m => m.SendTo)
        
        <div class="form-actions">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Candidate).Class("col-sm-2 control-label")
                    <div class="col-sm-6">
                        <input id="val-candidate" class="form-control" value="" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Position).Class("col-sm-2 control-label")
                    <div class="col-sm-6">
                        <input id="vac-position" class="form-control" value="" />
                    </div>
                </div>
                    <div class="form-group">
                        @Html.Bootstrap().LabelFor(m => m.Remarks).Class("col-xs-2 control-label")
                        <div class="col-xs-6">
                            @Html.EditorFor(m => m.Remarks)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Bootstrap().LabelFor(m => m.RecommendedForPosition).Class("col-xs-2 control-label")
                        <div class="col-xs-2">
                            @Html.EditorFor(m => m.RecommendedForPosition)
                        </div>
                    </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.OtherPosition).Class("col-md-2 control-label")
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.OtherPosition)
                    </div>
                </div>
                    <div class="form-group">
                        @Html.Bootstrap().LabelFor(m => m.AttDocuments).Class("col-xs-2 control-label")
                        <div class="col-xs-3">
                            @Html.EditorFor(m => m.AttDocuments)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Bootstrap().LabelFor(m => m.NeedNextInterviewer).Class("col-xs-2 control-label")
                        <div class="col-xs-2 pull-left">
                                @Html.RadioButtonFor(m => m.NeedNextInterviewer, true) Yes
                                @Html.RadioButtonFor(m => m.NeedNextInterviewer, false) No
                        </div>
                    </div>

                <div class="col-sm-12">
                    <button id="submit-cancel" class="btn btn-primary" type="button">
                        <i class="fa fa-send"></i>
                        cancel
                    </button>
                    <button id="submit-button" class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        save
                    </button>
                </div>
            </div>

        <a id="btn-addnew" class="btn btn-primary pull-left" href="http://mcaims-dev.azurewebsites.net/HRInterviewlist/InputInterviewResultDetail?siteUrl=https://eceos2.sharepoint.com/sites/mca-dev/hr&ID=@Model.ID">
            <i class="fa fa-plus"></i>
            Add Interview
        </a>
        <legend>Interview Result list</legend>
        <div class="row">
            @Html.Partial("_InterviewResultlist", Model.InterviewlistDetails)
        </div>
    </fieldset>

}

@section scripts{

    <script>
        function onPositionChange(e) {
            var res = $("#RecommendedForPosition_Value").val();
            if (res == "For Other Position")
            {
                $("#OtherPosition_Value").data("kendoDropDownList").enable(true);
            }
        };


        $(document).ready(function () {
            $("#OtherPosition_Value").data("kendoDropDownList").enable(false);
            $("#vac-position").prop('readonly', 'true');
            $("#val-candidate").prop('readonly', 'true');

            NeedNextInterviewer

            $("#val-candidate").prop("value", $("#Candidate").val());

            var positionID = $("#Position").val();

            var url = "/HRDataMaster/GetPosition/" + positionID;
            $.getJSON(url, function (data) {
                $("#vac-position").prop("value", data.PositionName);
            })
         
        });

      
    </script>
}

