@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ApplicationShortlistVM

@{
    ViewBag.Title = "ShortlistData";
}

@using (Html.BeginForm("CreateInterviewlistData", "HRInterviewlist", FormMethod.Post, new
{
    @class = "form-horizontal",
    enctype = "multipart/form-data"
}))
{
    <fieldset>
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.Position)
        @Html.HiddenFor(m => m.Candidate)
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Candidate).Class("col-sm-2 control-label")
                <div class="col-sm-6">
                    <input id="val-candidate" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Position).Class("col-sm-2 control-label")
                <div class="col-sm-6">
                    <input id="vac-position" class="form-control" value="" />
                </div>
            </div>
        </div>

        <legend>Candidate list</legend>
        <div class="row">
            @Html.Partial("_InterviewResultlist", Model.InterviewlistDetails)
        </div>


    </fieldset>
    <div class="form-actions">
        <div class="row">
          
             <div class="col-sm-4">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Remarks).Class("col-xs-4 control-label")
                    <div class="col-xs-8">
                        @Html.EditorFor(m => m.Remarks)
                    </div>
                </div>
            </div>
            </div>
        <div class="row">

            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.GetResultOptions).Class("col-xs-4 control-label")
                    <div class="col-xs-8">
                        @Html.EditorFor(m => m.GetResultOptions)
                    </div>
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.AttDocuments).Class("col-xs-4 control-label")
                    <div class="col-xs-8">
                        @Html.EditorFor(m => m.AttDocuments)
                    </div>
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.NeedNextInterviewer).Class("col-xs-4 control-label")
                    <div class="col-xs-8">
                        @Html.EditorFor(m => m.NeedNextInterviewer)
                    </div>
                </div>
            </div>
            </div>
        
            <div class="col-sm-8">
                <button id="submit-cancel" class="btn btn-primary" type="button">
                    <i class="fa fa-send"></i>
                    cancel
                </button>
                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    save
                </button>

            </div>
        </div>

}

@section scripts{

    <script>
        $(document).ready(function () {
            $("#vac-position").prop('readonly', 'true');
            $("#val-candidate").prop($("#Candidate").val());


            var positionID = $("#Position").val();
            $("#vac-position").prop("value", positionID);

            var url = "/HRDataMaster/GetPosition/" + positionID;
            $.getJSON(url, function (data) {
                $("#vac-position").prop("value", positionID);
            })

        });
    </script>
}

