@using MCAWebAndAPI.Model.ViewModel.Form.Asset

@model AssetCheckResultHeaderVM

<form enctype="multipart/form-data" class="form-horizontal" method="post" action="/ASSAssetCheckResult/Create" id="create-asset-check-result">
    <fieldset>
        <legend>Form Asset Check Result</legend>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.FormID).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.FormID)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.CountDate).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.CountDate)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.CountedBy1).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.CountedBy1)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.CountedBy2).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.CountedBy2)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.CountedBy3).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.CountedBy3)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Attachment).Class("col-md-4 control-label")
                <div class="col-md-8">
                    <input type="file" name="file" />
                    @if(Model.filename != null)
                    {
                        <a href="@Model.filenameUrl" target="_blank">@Model.filename</a>
                    }
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.CompletionStatus).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.CompletionStatus)
                </div>
            </div>
        </div>
        <div>
            <center>
                <input class="k-button k-button-icontext k-grid-add" type="submit" name="GetData" value="Get Data" />
            </center>
        </div>

                @Html.HiddenFor(m => m.AssetCheckResultID, new { Value = Model.AssetCheckResultID })
                @Html.HiddenFor(m => m.filename, new { Value = Model.filename })

        <div class="row">
            <div>
                @Html.Partial("_Details", Model.Details)
            </div>
            <div class="col-md-12" style="text-align: right;">
                <input class="btn btn-default" type="submit" name="Calculate" value="Calculate" />
            </div>
        </div>
        <legend>Approval Path</legend>
        <div class="row">
            <div style="width: 50%;">
                @Html.Partial("_approval_Path", Model)
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <center>
                <input class="k-button k-button-icontext k-grid-add" type="submit" name="SubmitForApproval" value="Submit for approval" />
                <input class="k-button k-button-icontext k-grid-add" type="submit" name="SaveAsDraft" value="Save as draft" />
                <input class="k-button k-button-icontext k-grid-add" type="submit" name="Cancel" value="Cancel" />
            </center>
        </div>
    </fieldset>
</form>

<script type="text/javascript">
    //function onSelectedId(e) {
    //    var res = this.dataItem(e.item)
    //    var url = "/ASSAssetCheckResult/GetCheckInfo?IDAssetCheck=" + res;
    //    $.getJSON(url, function (data) {
    //        $('#CompletionStatus').prop('value', data.CompletionStatus);
    //    });
    //}

    function onSelectedLocation(e) {

    }
</script>