@using MCAWebAndAPI.Model.ViewModel.Form.HR
@using MCAWebAndAPI.Web.Helpers

@model ProfessionalPerformanceEvaluationVM
@if (Model.StatusForm != "Approved")
{
    using (Ajax.BeginForm((string)ViewBag.Action, "HRProfessionalPerformanceEvaluation", FormMethod.Post,
                                                                                                        new AjaxOptions
                                                                                                        {
                                                                                                            OnBegin = "onBeginForm",
                                                                                                            OnComplete = "onCompleteForm",
                                                                                                            OnSuccess = "onSuccessFormEmbed",
                                                                                                            OnFailure = "onFailureForm"
                                                                                                        }, new { @class = "form-horizontal" }))
    {<fieldset>
        <legend>Form Professional Performance Evaluation</legend>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

         @Html.HiddenFor(m => m.ID)
         @Html.HiddenFor(m => m.ProfessionalID)
         @Html.HiddenFor(m => m.Requestor)
         @Html.HiddenFor(m => m.NameID)
         @Html.HiddenFor(m => m.PositionAndDepartementID)
         @Html.HiddenFor(m => m.PerformancePeriodID)
         @Html.HiddenFor(m => m.StatusForm)
         @Html.HiddenFor(m => m.TypeForm)
         @Html.HiddenFor(m => m.ApproverCount)
         @Html.HiddenFor(m => m.CheckWorkflow)

        <div class="col-xs-12">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Name).Class("col-xs-4 control-label")
                <div class="col-xs-8">
                    @Html.DisplayFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.PositionAndDepartement).Class("col-xs-4 control-label")
                <div class="col-xs-8">
                    @Html.DisplayFor(m => m.PositionAndDepartement)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.PerformancePeriod).Class("col-xs-4 control-label")
                <div class="col-xs-8">
                    @Html.DisplayFor(m => m.PerformancePeriod)
                </div>
            </div>
        </div>
        <legend>Professional Performance Evaluation Detail</legend>
        <div class="row">
            @Html.Partial("_ProfessionalPerformanceEvaluationDetail", Model)
        </div>
         @if (Model.TypeForm == "Professional")
         {
             <legend>Approval Path</legend>
             <div class="row">
                 @Html.Partial("_WorkflowPathDetails", Model)
             </div>
         }
    </fieldset>
    }

    if (Model.ID == null)
    {
        <div class="form-actions">
            <div class="row">
                <div class="col-xs-12">
                    <button id="submit-button" class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        Submit For Approval
                    </button>
                    <button id="submit-draft-initiate-button" class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        Save As Draft
                    </button>
                </div>
            </div>
        </div>
    }

    if (Model.TypeForm == "Professional" && Model.StatusForm == "Initiated")
    {
        <div class="form-actions">
            <div class="row">
                <div class="col-xs-12">
                    <button id="submit-button" class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        Submit For Approval
                    </button>
                    <button id="submit-draft-initiate-button" class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        Save As Draft
                    </button>
                </div>
            </div>
        </div>
    }

    if (Model.TypeForm == "Professional" && Model.StatusForm == "Draft")
    {
        <div class="form-actions">
            <div class="row">
                <div class="col-xs-12">
                    <button id="submit-button" class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        Submit For Approval
                    </button>
                    <button id="submit-draft-button" class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        Save As Draft
                    </button>
                </div>
            </div>
        </div>
    }

    if (Model.TypeForm == "Approver1")
    {
        if (Model.StatusForm == "Pending Approval 1 of 1" || Model.StatusForm == "Pending Approval 1 of 2" || Model.StatusForm == "Pending Approval 1 of 3")
        {
            {
                <div class="form-actions">
                    <div class="row">
                        <div class="col-sm-12">
                            <button id="submit-button" class="btn btn-primary" type="submit">
                                <i class="fa fa-save"></i>
                                Approve
                            </button>
                            <button id="reject1-button" class="btn btn-primary" type="submit">
                                <i class="fa fa-save"></i>
                                Reject
                            </button>
                        </div>
                    </div>
                </div>
            }
        }
    }

    if (Model.TypeForm == "Approver2")
    {
        if (Model.StatusForm == "Pending Approval 2 of 2" || Model.StatusForm == "Pending Approval 2 of 3")
        {
            <div class="form-actions">
                <div class="row">
                    <div class="col-sm-12">
                        <button id="submit-button" class="btn btn-primary" type="submit">
                            <i class="fa fa-save"></i>
                            Approve
                        </button>
                        <button id="reject2-button" class="btn btn-primary" type="submit">
                            <i class="fa fa-save"></i>
                            Reject
                        </button>
                    </div>
                </div>
            </div>
        }
    }

    if (Model.TypeForm == "Approver3")
    {
        if (Model.StatusForm == "Pending Approval 3 of 3")
        {
            <div class="form-actions">
                <div class="row">
                    <div class="col-sm-12">
                        <button id="submit-button" class="btn btn-primary" type="submit">
                            <i class="fa fa-save"></i>
                            Approve
                        </button>
                        <button id="reject3-button" class="btn btn-primary" type="submit">
                            <i class="fa fa-save"></i>
                            Reject
                        </button>
                    </div>
                </div>
            </div>
        }
    }
}
@if (Model.StatusForm == "Approved")
{
    using (Html.BeginForm((string)ViewBag.Action, "HRProfessionalPerformanceEvaluation", FormMethod.Post,
                                                                                    new
                                                                                    {
                                                                                        @class = "form-horizontal",
                                                                                        enctype = "multipart/form-data"
                                                                                    }))

    {<fieldset>
        <legend>Form Professional Performance Evaluation</legend>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.ProfessionalID)
        @Html.HiddenFor(m => m.Requestor)
        @Html.HiddenFor(m => m.NameID)
        @Html.HiddenFor(m => m.PositionAndDepartementID)
        @Html.HiddenFor(m => m.PerformancePeriodID)
        @Html.HiddenFor(m => m.StatusForm)
        @Html.HiddenFor(m => m.TypeForm)
        @Html.HiddenFor(m => m.ApproverCount)
        @Html.HiddenFor(m => m.CheckWorkflow)

        <div class="col-xs-12">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Name).Class("col-xs-4 control-label")
                <div class="col-xs-8">
                    @Html.DisplayFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.PositionAndDepartement).Class("col-xs-4 control-label")
                <div class="col-xs-8">
                    @Html.DisplayFor(m => m.PositionAndDepartement)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.PerformancePeriod).Class("col-xs-4 control-label")
                <div class="col-xs-8">
                    @Html.DisplayFor(m => m.PerformancePeriod)
                </div>
            </div>
        </div>
        <legend>Professional Performance Evaluation Detail</legend>
        <div class="row">
            @Html.Partial("_ProfessionalPerformanceEvaluationDetail", Model)
        </div>
         @if (Model.TypeForm == "Professional")
         {
             <legend>Approval Path</legend>
             <div class="row">
                 @Html.Partial("_WorkflowPathDetails", Model)
             </div>
         }
    </fieldset>
    }

    if (Model.TypeForm == "Professional")
    {
        <div class="form-actions">
            <div class="row">
                <div class="col-xs-12">
                    <button id="print-button" class="btn btn-primary" type="button">
                        Print
                    </button>
                </div>
            </div>
        </div>
    }
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#submit-button").click(function () {
                $("form").submit();
            });
        });

        $(document).ready(function () {
            $("#submit-draft-initiate-button").click(function () {
                $("#StatusForm").val("DraftInitiated")
                $("form").submit();
            });
        });

        $(document).ready(function () {
            $("#submit-draft-button").click(function () {
                $("#StatusForm").val("DraftDraft")
                $("form").submit();
            });
        });

        $(document).ready(function () {
            $('#print-button').click(function (e) {
                var url = "/HRProfessionalPerformanceEvaluation/PrintProfessionalPerformanceEvaluation";
                submitFormToPrint(url);
            });
        });
    </script>
}