@using MCAWebAndAPI.Model.ViewModel.Form.Asset



@model AssetAcquisitionHeaderVM

@using (Ajax.BeginForm("Update", "ASSassetAcquisition",
                                                                                                                                       FormMethod.Post,
                                                                                                                                       new AjaxOptions
                                                                                                                                       {
                                                                                                                                           OnBegin = "onBeginForm",
                                                                                                                                           OnComplete = "onCompleteForm",
                                                                                                                                           OnSuccess = "onSuccessFormEmbed",
                                                                                                                                           OnFailure = "onFailureForm"
                                                                                                                                       }, new { @class = "form-horizontal" }))

{
    <form class="form-horizontal" method="post" action="/ASSassetAcquisition/Update" id="create-asset-acquisition-form">
        <fieldset>
            <legend>Form Asset Acquisition</legend>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.TransactionType).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.TransactionType)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.AccpMemo).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.AccpMemo)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Vendor).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Vendor)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.PoNo).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.PoNo)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.PurchaseDate).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.PurchaseDate)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.PurchaseDescription).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.PurchaseDescription)
                    </div>
                </div>
            </div>
            <div>
                @Html.Partial("_Details", Model.Details)
            </div>
        </fieldset>
        @Html.HiddenFor(m => m.ID)
        <div>
            <center>
                <input class="k-button k-button-icontext k-grid-add" type="submit" value="Save" />
                <input class="k-button k-button-icontext k-grid-add" value="Cancel" onclick="return cancelButton()" />
            </center>
        </div>

    </form>
}


<script>
    $(document).ready(function () {
        //alert("ID : " + $("#ID").val());

        if ($("#ID").val() == null)
        {
            $("#AccpMemo_Value").data("kendoDropDownList").value("");
        }
        else
        {
            //$("#AccpMemo_Value").data("kendoDropDownList").value("");
        }
    })

    function onSelectedAcceptanceMemo(e) {
        var res = this.dataItem(e.item).split("-")
        alert("Acceptance Memo ID : " + res[0]);s
        var url = "/ASSAssetAcquisition/GetAcceptanceMemoInfo?IDAcceptanceMemo=" + res[0];
        $.getJSON(url, function (data) {
            $('#Vendor').prop('value', data.VendorID + "-" + data.VendorName);
            $('#PoNo').prop('value', data.PoNo);
        });
    }
</script>