@using System.Data
@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model TimesheetVM

@{
    ViewBag.Title = "Print Timesheet";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}



<div class="form-horizontal">

    <fieldset>

        <div class="wrp">&nbsp;</div>
        <div class="wrp">

            MCA-INDONESIA MONTHLY TIMESHEET

        </div>
        <div class="wrp">&nbsp;</div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">

                <tr>
                    <td colspan="3" class="tdHeadergreen">NAME</td>
                    <td colspan="11" class="tdHeadergreenLeft">@Model.Name</td>
                    <td colspan="4" class="tdHeadergray">POSITION</td>
                    @if (Model.dtDetails.Rows.Count == 30)
                    {
                        <td colspan="12" class="tdHeadergrayLeft">@Model.Position</td>
                    }
                    else
                    {
                        <td colspan="13"  class="tdHeadergrayLeft">@Model.Position</td>
                    }
                    <td colspan="1" class="tdLeft">@Model.StartPeriod.Value.ToString("MMM dd/yyyy") to @Model.EndPeriod.Value.ToString("MMM dd/yyyy")</td>
                    <td colspan="3" class="tdLeft">Professional No.</td>
                </tr>
                    <tr>
                        @for (int i = 0; i <= Model.dtDetails.Rows.Count - 1; i++)
                        {

                            <td>@Convert.ToString(Model.dtDetails.Rows[i]["No"])</td>
                        }
                        <td rowspan="3" class="tdLeft">DETAILS    WORK LOCATION</td>
                        <td rowspan="3">TOTAL DAY</td>
                        <td colspan="2">OFFICE USE</td>
                    </tr>

                  
                <tr>
                    @for (int i = 0; i <= Model.dtDetails.Rows.Count - 1; i++)
                    {

                        <td>@Convert.ToString(Model.dtDetails.Rows[i]["DayName"])</td>
                    }
                    <td rowspan="2" colspan="2"></td>
                </tr>

                    <tr>
                        @for (int i = 0; i <= Model.dtDetails.Rows.Count - 1; i++)
                        {

                            <td>@Convert.ToString(Model.dtDetails.Rows[i]["DateName"])</td>
                        }
                       
                    </tr>

                 
                 

                        @for (int i = 1; i <= 15 - 1; i++)
                        {

                            <tr>

                                @for (int x = 0; x <= Model.dtDetails.Rows.Count - 1; x++)
                                {
                                    if (Model.dtDetails.Rows[x]["Type"].ToString() == "Working Days" && i == 1)
                                    {
                                        <td>@Convert.ToString(Model.dtDetails.Rows[x]["HalfFullDay"])</td>
                                    }
                                    else if (i == 1)
                                    {
                                        <td>0</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }

                               @if (i == 1 && Model.dtLocation != null && Model.dtLocation.Rows.Count == 1)
                               {
                                    <td class="tdLeft">Location @i.ToString() : @Model.dtLocation.Rows[0]["Location"].ToString()</td>
                                    <td>@Convert.ToDouble(Model.dtLocation.Rows[0]["Total"])</td>
                               }
                               else if (i == 2 && Model.dtLocation != null && Model.dtLocation.Rows.Count == 2)
                               {
                                    <td class="tdLeft">Location @i.ToString() : @Model.dtLocation.Rows[1]["Location"].ToString()</td>
                                    <td>@Convert.ToDouble(Model.dtLocation.Rows[1]["Total"])</td>
                               }
                               else if (i == 3 && Model.dtLocation != null && Model.dtLocation.Rows.Count == 3)
                               {
                                <td class="tdLeft">Location @i.ToString() : @Model.dtLocation.Rows[2]["Location"].ToString()</td>
                                    <td>@Convert.ToDouble(Model.dtLocation.Rows[2]["Total"])</td>
                               }
                               else if (i == 4 && Model.dtLocation != null && Model.dtLocation.Rows.Count ==4)
                               {
                                <td class="tdLeft">Location @i.ToString() : @Model.dtLocation.Rows[3]["Location"].ToString()</td>
                                    <td>@Convert.ToDouble(Model.dtLocation.Rows[3]["Total"])</td>
                               }
                               else if (i == 5 && Model.dtLocation != null && Model.dtLocation.Rows.Count == 5)
                               {
                                <td class="tdLeft">Location @i.ToString() : @Model.dtLocation.Rows[4]["Location"].ToString()</td>
                                    <td>@Convert.ToDouble(Model.dtLocation.Rows[4]["Total"])</td>
                               }
                               else if (i == 6 && Model.dtLocation != null && Model.dtLocation.Rows.Count == 6)
                               {
                                <td class="tdLeft">Location @i.ToString() : @Model.dtLocation.Rows[5]["Location"].ToString()</td>
                                <td>@Convert.ToDouble(Model.dtLocation.Rows[5]["Total"])</td>
                               }
                               else
                               {
                                   if (i <= 6)
                                   {
                                        <td class="tdLeft">Location @i.ToString() :</td>
                                        <td>0.0</td>
                                   }
                                   else if (i == 7)
                                   {
                                    <td class="tdLeft">Sick Leave</td>
                                        <td>0.0</td>
                                   }
                                   else if (i ==8)
                                   {
                                    <td class="tdLeft">Eligible Days Off</td>
                                    <td>0.0</td>
                                   }
                                   else if (i == 9)
                                   {
                                    <td class="tdLeft">Others*</td>
                                    <td>0.0</td>
                                   }
                                   else if (i == 10)
                                   {
                                    <td class="tdLeft">Public Holiday</td>
                                    <td>0.0</td>
                                   }
                                   else if (i == 11)
                                   {
                                    <td class="tdLeft">Unpaid Days Off</td>
                                    <td>0.0</td>
                                   }
                                   else if (i == 12)
                                   {
                                    <td class="tdLeft">Compensatory Days Off</td>
                                    <td>0.0</td>
                                   }
                                   else if (i == 13)
                                   {
                                    <td class="tdLeft">TOTAL</td>
                                    <td>0.0</td>
                                   }
                                   else if (i == 14)
                                   {
                                    <td class="tdLeft">Compensatory Time (C): Work or Travel on Saturday & Sunday</td>
                                    <td>0.0</td>
                                   }
                               }


                                <td></td>
                                <td></td>
                            </tr>

                        }
                    <tr>
                        <td colspan="31">NOTES :</td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="35">*Mark location as place where the night is spent.</td>

                    </tr>
                    <tr>
                        <td colspan="35">Travel Itinerary (dates, locations) </td>

                    </tr>
                    <tr>
                        <td colspan="35"></td>

                    </tr>
                    <tr>
                        <td colspan="35">Other explanatory notes: </td>

                    </tr>
                    <tr>
                        <td colspan="35"></td>

                    </tr>
                        <tr>
                            <td colspan="35">Please check accuracy against Days Off forms before signing</td>

                        </tr>

                    <tr>
                        <td colspan="35"></td>

                    </tr>
                        <tr>
                            <td colspan="5">1. Professional</td>
                            <td colspan="2">Name</td>
                            <td colspan="11"></td>
                            <td colspan="2"></td>
                            <td colspan="3">Designation</td>
                            <td colspan="5">ME Director</td>
                            <td colspan="2"></td>
                            <td colspan="3">Signature:</td>
                            <td colspan="1">Signature:</td>
                            <td colspan="1">Date:</td>
                        </tr>
                    <tr>
                        <td colspan="5">1. Professional</td>
                        <td colspan="2">Name</td>
                        <td colspan="11"></td>
                        <td colspan="2"></td>
                        <td colspan="3">Designation</td>
                        <td colspan="5">ME Director</td>
                        <td colspan="2"></td>
                        <td colspan="3">Signature:</td>
                        <td colspan="1">Signature:</td>
                        <td colspan="1">Date:</td>
                    </tr>
                    <tr>
                        <td colspan="5">1. Professional</td>
                        <td colspan="2">Name</td>
                        <td colspan="11"></td>
                        <td colspan="2"></td>
                        <td colspan="3">Designation</td>
                        <td colspan="5">ME Director</td>
                        <td colspan="2"></td>
                        <td colspan="3">Signature:</td>
                        <td colspan="1">Signature:</td>
                        <td colspan="1">Date:</td>
                    </tr>
                        <tr>
                            <td colspan="35"></td>

                        </tr>
                  
</table>

</div>
        </div>

      
    </fieldset>
</div>



<style type="text/css">
    .wrp {
        width: 100%;
        text-align: center;
        font-size: 150%;
    }

    .wrpTTD {
        width: 100%;
        text-align: center;
    }

    .wrpFont {
        width: 100%;
        text-align: center;
        font-size: 20%;
    }

    table {
  border-collapse: collapse;
}

    th {
  border: 1px solid Black;
  padding: 5px 15px;text-align: center;vertical-align: text-top;
  vertical-align: top;background-color: White;font-size:xx-small
}

/*th {
  border: 1px solid Black;
  padding: 5px 15px;text-align: center;vertical-align: text-top;
  background-color: GrayText; ;vertical-align: top;
}*/

td {
  border: 1px solid Black;
  padding: 5px 15px;text-align: center;vertical-align: text-top;
  vertical-align: top;background-color: White;font-size:xx-small
}

.tdLeft {
  border: 1px solid Black;
  padding: 5px 15px;text-align: left;vertical-align: bottom;
  vertical-align: text-bottom;background-color: White;font-size:xx-small
}

.tdHeadergreen {
  border: 1px solid Black;
  padding: 5px 15px;text-align: center;vertical-align: text-top;
  vertical-align: top;background-color:darkseagreen;;font-size:xx-small
}

.tdHeadergreenLeft {
  border: 1px solid Black;
  padding: 5px 15px;text-align: left;vertical-align: text-top;
  vertical-align: top;background-color:darkseagreen;;font-size:xx-small
}

.tdHeadergray {
  border: 1px solid Black;
  padding: 5px 15px;text-align: center;vertical-align: text-top;
  vertical-align: top;background-color:gray;;font-size:xx-small
}

.tdHeadergrayLeft {
  border: 1px solid Black;
  padding: 5px 15px;text-align: left;vertical-align: text-top;
  vertical-align: top;background-color:gray;;font-size:xx-small
}


.thLeft {
     border: 1px solid Black;
        padding: 5px 15px;text-align: left;vertical-align: text-top;
        vertical-align: top;background-color: White;font-size: xx-small;border-style: solid;
    border-width: 1px;
}

/*thead > tr:nth-child(1) > th:nth-child(1) { background-color: GrayText; text-align: center; }
thead > tr:nth-child(1) > th:nth-child(2) { background-color: GrayText; text-align: center; }
thead > tr:nth-child(1) > th:nth-child(3) { background-color: GrayText;  text-align: center;}
thead > tr:nth-child(1) > th:nth-child(4) { background-color: GrayText; text-align: center; }
thead > tr:nth-child(1) > th:nth-child(5) { background-color: GrayText; text-align: center; }
thead > tr:nth-child(1) > th:nth-child(6) { background-color: GrayText;  text-align: center;}
thead > tr:nth-child(1) > th:nth-child(7) { background-color: GrayText;  text-align: center;}
thead > tr:nth-child(1) > th:nth-child(8) { background-color: GrayText; text-align: center; }
thead > tr:nth-child(2) > th              { background-color: GrayText; text-align: center; }*/

</style>



