@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model TimesheetVM

@{
    ViewBag.Title = "Print Timesheet";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}



<div class="form-horizontal">

    <fieldset>

        <div class="wrp">&nbsp;</div>
        <div class="wrp">

            MCA-INDONESIA MONTHLY TIMESHEET

        </div>
        <div class="wrp">&nbsp;</div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th colspan="3">NAME</th>
                        <th colspan="11"></th>
                        <th colspan="4">POSITION</th>
                        <th colspan="13"></th>
                        <th colspan="1">Aug 20/2015 to Sep 19/2015</th>
                        <th colspan="3">Professional No.</th>
                    </tr>
                        <tr>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                            <th>8</th>
                            <th>9</th>
                            <th>10</th>
                            <th>11</th>
                            <th>12</th>
                            <th>13</th>
                            <th>14</th>
                            <th>15</th>
                            <th>16</th>
                            <th>17</th>
                            <th>18</th>
                            <th>19</th>
                            <th>20</th>
                            <th>21</th>
                            <th>22</th>
                            <th>23</th>
                            <th>24</th>
                            <th>25</th>
                            <th>26</th>
                            <th>27</th>
                            <th>28</th>
                            <th>29</th>
                            <th>30</th>
                            <th>31</th>
                            <th rowspan="3">DETAILS    WORK LOCATION</th>
                            <th rowspan="3">TOTAL DAY</th>
                            <th colspan="2">OFFICE USE</th>
                        </tr>

                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                        <th>17</th>
                        <th>18</th>
                        <th>19</th>
                        <th>20</th>
                        <th>21</th>
                        <th>22</th>
                        <th>23</th>
                        <th>24</th>
                        <th>25</th>
                        <th>26</th>
                        <th>27</th>
                        <th>28</th>
                        <th>29</th>
                        <th>30</th>
                        <th>31</th>
                        <th rowspan="2" colspan="2">ok</th>
                    </tr>

                        <tr>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                            <th>8</th>
                            <th>9</th>
                            <th>10</th>
                            <th>11</th>
                            <th>12</th>
                            <th>13</th>
                            <th>14</th>
                            <th>15</th>
                            <th>16</th>
                            <th>17</th>
                            <th>18</th>
                            <th>19</th>
                            <th>20</th>
                            <th>21</th>
                            <th>22</th>
                            <th>23</th>
                            <th>24</th>
                            <th>25</th>
                            <th>26</th>
                            <th>27</th>
                            <th>28</th>
                            <th>29</th>
                            <th>30</th>
                            <th>31</th>
                        </tr>

                    @*<tr>
                <th rowspan="2">No</th>
                <th rowspan="2">Batch No</th>
                <th rowspan="2">Tanggal Kirim</th>
                <th rowspan="2">Nama Karyawan</th>
                <th rowspan="2">Nama Tertanggung</th>
                <th rowspan="2">Tanggal Kwitansi</th>
                <th colspan="4">Jumlah Klaim</th>
                <th rowspan="2">Remarks</th>
            </tr>
            <tr>
                <th rowspan="1">Medical Examination</th>
                <th rowspan="1">Prescription</th>
                <th rowspan="1">Others</th>
                <th rowspan="1">Total</th>

            </tr>*@
                    </thead>
                    <tbody>
                    @*@for (int i = 0; i <= Model.dtDetails.Rows.Count - 1; i++)
                    {
                        <tr>
                            <td>@Convert.ToString(Model.dtDetails.Rows[i]["No"])</td>
                            <td>@Convert.ToString(Model.dtDetails.Rows[i]["BatchNo"])</td>
                            <td>@Convert.ToString(Model.dtDetails.Rows[i]["SubmissionDate"])</td>
                            <td>@Convert.ToString(Model.dtDetails.Rows[i]["ProfessionalName"])</td>
                            <td>@Convert.ToString(Model.dtDetails.Rows[i]["DependentName"])</td>
                            <td>@Convert.ToString(Model.dtDetails.Rows[i]["ReceiptDate"])</td>
                            <td>@Convert.ToDouble(Model.dtDetails.Rows[i]["MedicalExamination"]).ToString("n0")</td>
                            <td>@Convert.ToDouble(Model.dtDetails.Rows[i]["Prescription"]).ToString("n0")</td>
                            <td>@Convert.ToDouble(Model.dtDetails.Rows[i]["Others"]).ToString("n0")</td>
                            <td>@Convert.ToDouble(Model.dtDetails.Rows[i]["Total"]).ToString("n0")</td>
                            <td>@Convert.ToString(Model.dtDetails.Rows[i]["Remarks"])</td>
                        </tr>
                    }*@
                    </tbody>
</table>

</div>
        </div>

        <div class="col-xs-6">
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrpTTD">Pengirim,</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            @*<div class="wrpTTD">@Model.Sender</div>*@
        </div>
        <div class="col-xs-6">
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrpTTD">Penerima,</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            <div class="wrp">&nbsp;</div>
            @*<div class="wrpTTD">@Model.Recepient</div>*@
        </div>
    </fieldset>
</div>



<style type="text/css">
    .wrp {
        width: 100%;
        text-align: center;
        font-size: 150%;
    }

    .wrpTTD {
        width: 100%;
        text-align: center;
    }

    .wrpFont {
        width: 100%;
        text-align: center;
        font-size: 20%;
    }

    table {
  border-collapse: collapse;
}

    th {
  border: 1px solid Black;
  padding: 5px 15px;text-align: center;vertical-align: text-top;
  vertical-align: top;
}

/*th {
  border: 1px solid Black;
  padding: 5px 15px;text-align: center;vertical-align: text-top;
  background-color: GrayText; ;vertical-align: top;
}*/

td {
  border: 1px solid Black;
  padding: 5px 15px;text-align: center;vertical-align: text-top;vertical-align: top;
}

/*thead > tr:nth-child(1) > th:nth-child(1) { background-color: GrayText; text-align: center; }
thead > tr:nth-child(1) > th:nth-child(2) { background-color: GrayText; text-align: center; }
thead > tr:nth-child(1) > th:nth-child(3) { background-color: GrayText;  text-align: center;}
thead > tr:nth-child(1) > th:nth-child(4) { background-color: GrayText; text-align: center; }
thead > tr:nth-child(1) > th:nth-child(5) { background-color: GrayText; text-align: center; }
thead > tr:nth-child(1) > th:nth-child(6) { background-color: GrayText;  text-align: center;}
thead > tr:nth-child(1) > th:nth-child(7) { background-color: GrayText;  text-align: center;}
thead > tr:nth-child(1) > th:nth-child(8) { background-color: GrayText; text-align: center; }
thead > tr:nth-child(2) > th              { background-color: GrayText; text-align: center; }*/

</style>



