@model MCAWebAndAPI.Model.ViewModel.Form.Finance.SPHL.SPHLVM

@using (Html.BeginForm("EditSPHL", "FINSPHL", FormMethod.Post,
                new
                {
                    @class = "form-horizontal",
                    enctype = "multipart/form-data"
                }))
{
    <fieldset>
        <legend>SPHL Data</legend>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Date).Class("col-sm-4 control-label")
                    <div class="col-sm-8">
                        @Html.EditorFor(m => m.Date)
                        @Html.ValidationMessageFor(m => m.Date)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.No).Class("col-sm-4 control-label")
                    <div class="col-sm-8">
                        @Html.DisplayFor(m => m.No)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.AmountIDR).Class("col-sm-4 control-label")
                    <div class="col-sm-8">
                        @Html.EditorFor(m => m.AmountIDR)
                        @Html.ValidationMessageFor(m => m.AmountIDR)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Remarks).Class("col-sm-4 control-label")
                    <div class="col-sm-8">
                        @Html.EditorFor(m => m.Remarks)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Documents).Class("col-sm-4 control-label")
                    <div class="col-sm-8">
                        @Html.EditorFor(m => m.Documents)
                    </div>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.DocumentUrl))
                {
                                <div class="form-group">
                                    @Html.Bootstrap().LabelFor(m => m).Class("col-sm-4 control-label")
                                    <div class="col-sm-8">
                                        <button id="application-document-button" class="btn btn-default" type="button">
                                            Click Here to go to SPHL Attachments
                                        </button>
                                    </div>
                                </div>
                            <script>
                                $('#application-document-button').click(function () {
                                    parent.postMessage({
                                        result: "Success", urlToRedirect: "@Model.DocumentUrl"
                                    }, "@Model.DocumentUrl");
                                });
                            </script>
                }
            </div>
            @Html.HiddenFor(m => m.ID)
        </div>
    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
                <button id="submit-cancel" acti class="btn btn-primary" type="button">
                    <i class="fa fa-back"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>
}