@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ProfessionalPerformancePlanVM

@{
    ViewBag.Title = "Print Performance Plan";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}

<div class="form-horizontal">
    <fieldset>
        <legend>Performance Plan</legend>
        <div class="col-xs-12">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Name).Class("col-xs-8 control-label")
                <div class="col-sm-8">
                    @Html.DisplayFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.PositionAndDepartement).Class("col-xs-8 control-label")
                <div class="col-sm-8">
                    @Html.DisplayFor(m => m.PositionAndDepartement)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.PerformancePeriod).Class("col-xs-8 control-label")
                <div class="col-sm-8">
                    @Html.DisplayFor(m => m.PerformancePeriod)
                </div>
            </div>
        </div>
        <legend>Performance Plan Details</legend>
        @*<div class="row">
            @Html.Partial("_PerformancePlanDetail_Print", Model.ProjectOrUnitGoalsDetails)
        </div>*@
        <div class="col-xs-12">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.MajorStrength).Class("col-xs-8 control-label")
                <div class="col-sm-8">
                    @Html.DisplayFor(m => m.MajorStrength)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.PerformanceArea).Class("col-xs-8 control-label")
                <div class="col-sm-8">
                    @Html.DisplayFor(m => m.PerformanceArea)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.RecommendedActivities).Class("col-xs-8 control-label")
                <div class="col-sm-8">
                    @Html.DisplayFor(m => m.RecommendedActivities)
                </div>
            </div>
        </div>
    </fieldset>
</div>
