@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model PSAManagementVM

<div class="col-md-6">
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.PSANumber).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.DisplayFor(m => m.PSANumber)
            </div>
        </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.IsRenewal).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.IsRenewal)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.StrPSARenewal).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.StrPSARenewal)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.ProfessionalFullName).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.ProfessionalFullName)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.ProjectOrUnit).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.ProjectOrUnit)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.PositionBasedProject).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.PositionBasedProject)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.JoinDate).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.JoinDate)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.DateOfNewPSA).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.DateOfNewPSA)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.TenureString).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.TenureString)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.PSAExpiryDates).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.PSAExpiryDates)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.PerformancePlan).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.PerformancePlan)
        </div>
    </div>
</div>

@Html.HiddenFor(m => m.RenewalNumber)
@Html.HiddenFor(m => m.PSAExpiryDate)
@Html.HiddenFor(m => m.Position)
@Html.HiddenFor(m => m.Professional)

