@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model PSAManagementVM

<div class="col-md-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.psaNumber).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.psaNumber)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.isrenewal).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.isrenewal)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.renewalnumber).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.renewalnumber)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.ProjectOrUnit).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.ProjectOrUnit)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.position).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.position)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.professional).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.professional)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.joinDate).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.joinDate)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.dateofNewPSA).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.dateofNewPSA)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.tenure).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.tenure)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.pSAExpiryDate).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.pSAExpiryDate)
        </div>
    </div>
</div>
