@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model PSAManagementVM

<div class="col-md-6">
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.PSANumber).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.DisplayFor(m => m.PSANumber)
            </div>
        </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.IsRenewal).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.IsRenewal)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.RenewalNumber).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.RenewalNumber)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Professional).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.Professional)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.ProjectOrUnit).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.ProjectOrUnit)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Position).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.Position)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.JoinDate).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.JoinDate)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.DateOfNewPSA).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.DateOfNewPSA)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.TenureString).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.TenureString)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.PSAExpiryDate).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.PSAExpiryDate)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.PerformancePlan).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.PerformancePlan)
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        
    </script>
}
