@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model PSAManagementVM

<div class="col-md-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Professional).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.Professional)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.ProjectOrUnit).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.ProjectOrUnit)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Position).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.Position)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.IsRenewal).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.IsRenewal)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.PSARenewalNumber).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.PSARenewalNumber)
        </div>
    </div>
    @*
    <div class="form-group">
        <div class="col-md-8">
            @Html.DisplayFor(m => m.KeyPosition)
        </div>
    </div>
    *@
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.JoinDate).Class("col-md-4 control-label")
        <div class="col-md-8">
            @*@Html.EditorFor(m => m.JoinDate)*@
            @(Html.Kendo().DatePickerFor(m => m.JoinDate).HtmlAttributes(new
        {
            @class = "form-control",
            style = "width:100%;"
        }))
            @Html.ValidationMessageFor(model => model.JoinDate)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.DateOfNewPSA).Class("col-md-4 control-label")
        <div class="col-md-8">
            @*@Html.EditorFor(m => m.DateOfNewPSA)*@
            @(Html.Kendo().DatePickerFor(m => m.DateOfNewPSA).HtmlAttributes(new
        {
            @class = "form-control",
            style = "width:100%;"
        }))
            @Html.ValidationMessageFor(model => model.DateOfNewPSA)

        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Tenure).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.Tenure)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.PSAExpiryDate).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.PSAExpiryDate)
        </div>
    </div>
    @*
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.ExpiryDateBefore).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.ExpiryDateBefore)
        </div>
    </div>
    *@
    @Html.HiddenFor(m => m.DocumentType)    
    @Html.HiddenFor(m => m.ExpiryDateBefore)
    @Html.HiddenFor(m => m.HidRenewalNumber)
    
</div>

@section scripts{
    <script type="text/javascript">


            $(document).ready(function () {
            $("#submit-button").click(function () {
                $("form").submit();
            });

        });

        function onSuccess(data) {
            window.location.href = data.urlToRedirect;
        }

        function onFailure(data) {
            window.location.href = data.urlToRedirect;
        }


            function OnSelectAssetHolderFrom(e) {
                var dataItem = this.dataItem(e.item);
                var url = "/HRDataMaster/GetProfessionals/" + dataItem.ID;

            }

            function OnSelectPosition(e) {
                var dataItem = this.dataItem(e.item);
                var url = "/HRDataMaster/GetPositions/" + dataItem.ID;
            }
    
        
            $(document).ready(function () {


                $("#Tenure").on('input', function () {
                    sumCal();
                });

                function sumCal() {

                    var dateOfNewPSA = $("#DateOfNewPSA").val();
                    var dateofnewpsa = new Date(dateOfNewPSA);
                    var monthpsa = dateofnewpsa.getMonth();
                    var monthint = parseInt(monthpsa);
                    var datepsa = dateofnewpsa.getDate();

                    var tenure = $("#Tenure").val();
                    var tenureint = parseInt(tenure);
                    var addtenure = tenureint + monthint;

                    var setmonth = new Date(dateofnewpsa.setMonth(addtenure));

                    var psaexpirydate = setmonth.getMonth() + 1 + '/' + setmonth.getDate() + '/' + setmonth.getFullYear();
                    $("#PSAExpiryDate").val(psaexpirydate);
                }
            });

        /*
            function OnSelectAssetHolderFrom(e) {
                var dataItem = this.dataItem(e.item);

                var dateOfNewPSA = $("#DateOfNewPSA").val();

                var datenewpsa = new Date(dateOfNewPSA);
                var datenewpsainsecond = datenewpsa.getTime();

                console.log(dateOfNewPSA);
                console.log(datenewpsainsecond)

                if ($("#IsRenewal_Value").val() == "Yes") {

                    var url = "/HRPSAManagement/GetRenewal/" + dataItem.ID;

                    $.getJSON(url, function (result) {

                        var renewalnumber = result[0].PSARenewalNumber + 1;

                        var expirydate = result[0].PSAExpiryDate;

                        var testdate = new Date(expirydate);

                        console.log(expirydate);

                        $('#PSARenewalNumber').prop('value', renewalnumber);
                        $('#PSARenewalNumber').prop('readonly', true);


                        if (datenewpsainsecond < expirydate) {
                            console.log("Date of New PSA Less Than Expiry Date");
                        }
                        else {
                            console.log("Date of New PSA More Than Expiry Date");
                        }

                    })
                }


            }
            */
            
    </script>
}
