@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model PSAManagementVM

<div class="col-md-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Professional).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.Professional)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.ProjectOrUnit).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.ProjectOrUnit)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.PositionBasedProject).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.PositionBasedProject)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.IsRenewal).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.IsRenewal)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.StrPSARenewal).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.StrPSARenewal)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.JoinDate).Class("col-md-4 control-label")
        <div class="col-md-8">
            @(Html.Kendo().DatePickerFor(m => m.JoinDate).HtmlAttributes(new
        {
            @class = "form-control",
            style = "width:100%;"
        }))
            @Html.ValidationMessageFor(model => model.JoinDate)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.DateOfNewPSA).Class("col-md-4 control-label")
        <div class="col-md-8">
            @(Html.Kendo().DatePickerFor(m => m.DateOfNewPSA).HtmlAttributes(new
        {
            @class = "form-control",
            style = "width:100%;"
        }))
            @Html.ValidationMessageFor(model => model.DateOfNewPSA)

        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Tenure).Class("col-md-4 control-label")
        <div class="col-md-8">
            @(Html.Kendo().NumericTextBoxFor(m => m.Tenure)
                .HtmlAttributes(new { style = "width:100%" })
                .Min(1)
                .Max(100)
            )
            @Html.ValidationMessageFor(model => model)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.PSAExpiryDates).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.PSAExpiryDates)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.PerformancePlan).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.PerformancePlan)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.PerformancePlan).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.EditorFor(m => m.PerformancePlan)
        </div>
    </div>
    
    @Html.HiddenFor(m => m.DocumentType)    
    @Html.HiddenFor(m => m.ExpiryDateBefore)
    @Html.HiddenFor(m => m.HidRenewalNumber)
    @Html.HiddenFor(m => m.KeyPositionValue)
    @Html.HiddenFor(m => m.PSAId)
    @Html.HiddenFor(m => m.DateOfNewPSABefore)
    @Html.HiddenFor(m => m.ExpireDateBefore)
    @Html.HiddenFor(m => m.ProfessionalMail)
    @Html.HiddenFor(m => m.LastWorkingDate)
    @Html.HiddenFor(m => m.PSARenewalNumber)
    @Html.HiddenFor(m => m.ProfessionalFullName)
    @Html.HiddenFor(m => m.PSAExpiryDate)
    @Html.HiddenFor(m => m.Position)
    
</div>

@section scripts{
    <script type="text/javascript">


            $(document).ready(function () {
            $("#submit-button").click(function () {
                $("form").submit();
            });

        });

        function onSuccess(data) {
            window.location.href = data.urlToRedirect;
        }

        function onFailure(data) {
            window.location.href = data.urlToRedirect;
        }


            function OnSelectAssetHolderFrom(e) {
                var dataItem = this.dataItem(e.item);
                var url = "/HRDataMaster/GetProfessionals/" + dataItem.ID;

            }

            function OnSelectPosition(e) {
                var dataItem = this.dataItem(e.item);
                var url = "/HRDataMaster/GetPositions/" + dataItem.ID;
            }
    
        
            $(document).ready(function () {


                $("#Tenure").on('input', function () {
                    sumCal();
                });

                function sumCal() {

                    var dateOfNewPSA = $("#DateOfNewPSA").val();
                    var dateofnewpsa = new Date(dateOfNewPSA);
                    var monthpsa = dateofnewpsa.getMonth();
                    var monthint = parseInt(monthpsa);
                    var datepsa = dateofnewpsa.getDate();

                    var tenure = $("#Tenure").val();
                    var tenureint = parseInt(tenure);
                    var addtenure = tenureint + monthint;

                    var setmonth = new Date(dateofnewpsa.setMonth(addtenure));

                    var psaexpirydate = setmonth.getMonth() + 1 + '/' + setmonth.getDate() + '/' + setmonth.getFullYear();
                    $("#PSAExpiryDate").val(psaexpirydate);
                }
            });
    </script>
}
