@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model InsuranceClaimVM

@{
    ViewBag.Title = "Form Submit Insurance Claim";
}


@using (Html.BeginForm("SubmitInsuranceClaim", "HRInsuranceClaim", FormMethod.Post,
                                              new
                                              {
                                                @class = "form-horizontal",
                                                enctype = "multipart/form-data"
                                                }))



{
    <fieldset>
        
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()


        <div class="col-sm-6">

            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.ProfessionalName).Class("col-sm-4 control-label")
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.ProfessionalName)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Type).Class("col-sm-4 control-label")
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.Type)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.OrganizationInsuranceID).Class("col-sm-4 control-label")
                <div class="col-sm-8">
                    @Html.DisplayFor(m => m.OrganizationInsuranceID)
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.ClaimDate).Class("col-sm-4 control-label")
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.ClaimDate)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.DependantName).Class("col-sm-4 control-label")
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.DependantName)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.IndividualInsuranceNumber).Class("col-sm-4 control-label")
                <div class="col-sm-8">
                    @Html.DisplayFor(m => m.IndividualInsuranceNumber)
                </div>
            </div>
        </div>

        <legend>Claim Component</legend>
        <div class="row">
            @Html.Partial("_ClaimComponentDetail", Model.ClaimComponentDetails)
        </div>

        <legend>Medical Check Up Claim</legend>
        <div class="row">
            @Html.Partial("_MedicalClaimDetail", Model.ClaimPaymentDetails)
        </div>

    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
             
                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
            </div>
        </div>
    </div>
}
@section scripts{
   <script type="text/javascript">
        $(document).ready(function () {
            $("#submit-button").click(function () {
                $("form").submit();
            });
        });

        function OnSelectDependantName(e) {
            var dataItem = this.dataItem(e.item);
            var url = "/HRDataMaster/GetDependant/" + dataItem.ID;
            $('#IndividualInsuranceNumber').prop('value', '');
            $('#OrganizationInsuranceID').prop('value', '');
            $.getJSON(url,
                function(result) {
                    $('#IndividualInsuranceNumber').prop('value', result[0].InsuranceNumber);
                    $('#OrganizationInsuranceID').prop('value', result[0].OrganizationInsurance);

                });
        }
</script>
}