@using MCAWebAndAPI.Model.ViewModel.Form.Finance

@model TaxExemptionDataVM

<form class="form-horizontal" method="post" action="/FINTaxExemptionData/Edit" id="update-tax-examption-data-form">
    <fieldset>
        <legend>Tax Exemption Data</legend>

        <div class="col-md-6">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.TypeOfTax).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.TypeOfTax)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.TypeOfWithHoldingTax).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.TypeOfWithHoldingTax)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.TaxPeriod).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.TaxPeriod)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.TotalIncomeRecepients).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.TotalIncomeRecepients)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.GrossIncome).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.GrossIncome)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.TotalIncomeTaxBorneByGovernment).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.TotalIncomeTaxBorneByGovernment)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Remarks).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Remarks)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Documents).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Documents)
                </div>
            </div>
            @Html.HiddenFor(m => m.ID)
            
        </div>

    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
                <input class="k-button k-button-icontext k-grid-add" type="submit" value="Update" />
                <button id="cancel-button" class="btn btn-default" type="button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form>
