@using MCAWebAndAPI.Model.ViewModel.Form.Asset

@model AssetScrappingVM

<form class="form-horizontal" method="post" action="/ASSAssetScrapping/Create" id="create-asset-replacement-form">
    <fieldset>
        <legend>Form Asset Replacement</legend>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.TransactionType).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Header.TransactionType)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.Date).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Header.Date)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @(Html.Kendo().Grid(Model.Items)
                    .Name("asset-scrapping-items-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.NewAsset);
                        columns.Bound(p => p.Item);
                        columns.Bound(p => p.AssetNo);
                        columns.Bound(p => p.SubAssetNo);
                        columns.Bound(p => p.AssetDescription);
                        columns.Bound(p => p.Remarks);
                        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
                    })
                    .ToolBar(toolbar => toolbar.Create())
                    .Editable(editable => editable.Mode(GridEditMode.PopUp))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Model(model => model.Id(p => p.Id))
                        .Create(update => update.Action("EditingPopup_Create", "ASSAssetScrapping"))
                        .Update(update => update.Action("EditingPopup_Update", "ASSAssetScrapping"))
                        .Destroy(update => update.Action("EditingPopup_Destroy", "ASSAssetScrapping"))
                )
                )
            </div>
        </div>
    </fieldset>

</form>