@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ProfessionalDataVM

<div class="col-sm-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.PermanentAddress).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.PermanentAddress)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.CurrentAddress).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.CurrentAddress)
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.EmailAddresOne).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.EmailAddresOne)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Telephone).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.Telephone)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.CurrentTelephone).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.CurrentTelephone)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.MobileNumberOne).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.MobileNumberOne)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.EmergencyNumber).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.EmergencyNumber)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.OfficePhone).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.OfficePhone)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.OfficeEmail).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.OfficeEmail)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Extension).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.Extension)
        </div>
    </div>
</div>
