@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ProfessionalDataVM

<div class="row">
    <div class="col-md-12">
        <label class="col-md-6">Health Insurance</label>
        <div class="col-md-6"></div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.AccountNameForHI).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.AccountNameForHI)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.AccountNumberForHI).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.AccountNumberForHI)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.BankNameForHI).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.BankNameForHI)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.BranchOfficeForHI).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.BranchOfficeForHI)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.EffectiveDateForHI).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.EffectiveDateForHI)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.EndDateForHI).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.EndDateForHI)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.CurrencyForHI).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.CurrencyForHI)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <label class="col-md-6">Components</label>
        <div class="col-md-6"></div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.VendorAccountNumberRIForHI).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.VendorAccountNumberRIForHI)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.VendorAccountNumberRGForHI).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.VendorAccountNumberRGForHI)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.VendorAccountNumberRJForHI).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.VendorAccountNumberRJForHI)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.VendorAccountNumberMAForHI).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.VendorAccountNumberMAForHI)
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <label class="col-md-6">Saving Plan</label>
        <div class="col-md-6"></div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.AccountNameForSP).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.AccountNameForSP)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.AccountNumberForSP).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.AccountNumberForSP)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.BankNameForSP).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.BankNameForSP)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.BranchOfficeForSP).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.BranchOfficeForSP)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.EffectiveDateForSP).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.EffectiveDateForSP)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.EndDateForSP).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.EndDateForSP)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.CurrencyForSP).Class("col-md-4 control-label")
            <div class="col-md-8">
                @Html.EditorFor(m => m.CurrencyForSP)
            </div>
        </div>
    </div>
</div>