@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ProfessionalDataVM

<div class="col-sm-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.AccountNameForPayroll).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.AccountNameForPayroll)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.AccountNumberForPayroll).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.AccountNumberForPayroll)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.BankNameForPayroll).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.BankNameForPayroll)
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.BranchOfficeForPayroll).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.BranchOfficeForPayroll)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.CurrencyForPayroll).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.CurrencyForPayroll)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.BankSwiftCodeForPayroll).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.BankSwiftCodeForPayroll)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.TaxStatusForPayroll).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.TaxStatusForPayroll)
        </div>
    </div>
</div>
