@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ProfessionalDataVM

@{
    ViewBag.Title = "Edit Professional";
}

@using (Ajax.BeginForm("EditProfessional", "HRProfessional", FormMethod.Post,
    new AjaxOptions
    {
        OnBegin = "onBeginForm", 
        OnComplete = "onCompleteForm",
        OnFailure = "onFailureForm",
        OnSuccess = "onSuccessFormEmbed"
    },
    new { @class = "form-horizontal"}))
{
    <fieldset>
        <legend>Personal Details</legend>
        @Html.HiddenFor(m => m.ID)
        <div class="row">
            @Html.Partial("_PersonalDetails", Model)
        </div>
        <legend>Organizational Details</legend>
        <div class="row">
            @Html.Partial("_OrganizationalDetails", Model.OrganizationalDetails)
        </div>
        <legend>Contact Information Details</legend>
        <div class="row">
            @Html.Partial("_ContactInformationDetails", Model)
        </div>
        <legend>Education Details</legend>
        <div class="row">
            @Html.Partial("_EducationDetails", Model.EducationDetails)
        </div>
        <legend>Training Details</legend>
        <div class="row">
            @Html.Partial("_TrainingDetails", Model.TrainingDetails)
        </div>
        <legend>Insurance Details</legend>
            @Html.Partial("_InsuranceDetails", Model)
        <legend>Payroll Details</legend>
        <div class="row">
            @Html.Partial("_PayrollDetails", Model)
        </div>
        <legend>Dependent Details</legend>
        <div class="row">
            @Html.Partial("_DependentDetails", Model.DependentDetails)
        </div>
    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
                <button id="validate-by-hr" class="btn" type="button">
                    Validate
                </button>
                <button id="print-button" class="btn btn-default" type="button">
                    Print
                </button>
                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
}

@section scripts{

    <script>
        function onSelectIDCardType(e) {
            var dataItem = this.dataItem(e.item);
            if (dataItem === "KTP") {
                $('#IDCardExpiry').closest('.form-group').show();
            } else {
                $('#IDCardExpiry').closest('.form-group').hide();
            }
        }
    </script>
}