@using MCAWebAndAPI.Model.ViewModel.Control

@model PDFExporterVM
<form class="form-horizontal" method="post" action="/PDFExport/Submit" id="create-pdf-export-form">
    <fieldset>
        <legend>Form Asset Master</legend>

        <div class="col-md-12 content-wrapper">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Url).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.Url)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.PdfPageSize).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.PdfPageSize)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.WebPageWidth).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.WebPageWidth)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.PdfPageOrientation).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.PdfPageOrientation)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.WebPageHeight).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.WebPageHeight)
                    </div>
                </div>       
        </div>
        <input class="k-button k-button-icontext k-grid-add" type="submit" value="Export as PDF" />
    </fieldset>

</form>
<script type="text/javascript">
    $(document.readyState)
    function Callback() {
        window.parentIFrame.sendMessage('Hello from the iFrame')
    }
    function onChange() {      

    }
    
</script>



