
<form class="form-horizontal" method="post" action="/PDFExport/Submit" id="create-pdf-export-form">
    <fieldset>
        <legend>Form Asset Master</legend>

        <div class="col-md-12 content-wrapper">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.AssetLevel).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.AssetLevel)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.AssetCategory).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.AssetCategory)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.ProjectUnit).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.ProjectUnit)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.AssetType).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.AssetType)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.AssetNoAssetDesc).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.AssetNoAssetDesc)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.AssetDesc).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.AssetDesc)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.SerialNo).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.SerialNo)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.WarrantyExpires).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.WarrantyExpires)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Spesifications).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.Spesifications)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Condition).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.Condition)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Remarks).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.Remarks)
                    </div>
                </div>
           

        </div>
        <input class="k-button k-button-icontext k-grid-add" type="submit" />
        <button type='button' class="export-pdf k-button k-button-icontext k-grid-add" ">Export as PDF</button>
    </fieldset>

</form>
<script src="//kendo.cdn.telerik.com/2016.1.112/js/pako_deflate.min.js"></script>
<script type="text/javascript">
    $(document.readyState)
    function Callback() {
        window.parentIFrame.sendMessage('Hello from the iFrame')
    }
    function onChange() {
        if (this.element.attr("id") == "AssetLevel_Value") {
            if ($("#AssetLevel_Value").data("kendoDropDownList").value() == "Main Asset") {
                $("#AssetCategory_Value").data("kendoDropDownList").enable(true);
                $("#AssetCategory_Value").data("kendoDropDownList").select(0);

                $("#ProjectUnit_Value").data("kendoDropDownList").enable(true);
                $("#ProjectUnit_Value").data("kendoDropDownList").select(0);

                $("#AssetType_Value").data("kendoDropDownList").enable(true);
                $("#AssetType_Value").data("kendoDropDownList").select(0);


                $("#AssetNoAssetDesc_Value").data("kendoDropDownList").enable(false);
                $("#AssetNoAssetDesc_Value").data("kendoDropDownList").value("");

            }
            else {
                $("#AssetCategory_Value").data("kendoDropDownList").enable(false);
                $("#AssetCategory_Value").data("kendoDropDownList").value("");

                $("#ProjectUnit_Value").data("kendoDropDownList").enable(false);
                $("#ProjectUnit_Value").data("kendoDropDownList").value("");

                $("#AssetType_Value").data("kendoDropDownList").enable(false);
                $("#AssetType_Value").data("kendoDropDownList").value("");

                $("#AssetNoAssetDesc_Value").data("kendoDropDownList").enable(true);
                $("#AssetNoAssetDesc_Value").data("kendoDropDownList").select(0);
            }

            ;
        }

    }
    $(function () {
        $("#AssetCategory_Value").data("kendoDropDownList").enable(true);
        $("#AssetCategory_Value").data("kendoDropDownList").select(0);

        $("#ProjectUnit_Value").data("kendoDropDownList").enable(true);
        $("#ProjectUnit_Value").data("kendoDropDownList").select(0);

        $("#AssetType_Value").data("kendoDropDownList").enable(true);
        $("#AssetType_Value").data("kendoDropDownList").select(0);


        $("#AssetNoAssetDesc_Value").data("kendoDropDownList").enable(false);
        $("#AssetNoAssetDesc_Value").data("kendoDropDownList").value("");
    });

</script>

<script>
    // Import DejaVu Sans font for embedding

    // NOTE: Only required if the Kendo UI stylesheets are loaded
    // from a different origin, e.g. cdn.kendostatic.com
    kendo.pdf.defineFont({
        "DejaVu Sans": "http://cdn.kendostatic.com/2014.3.1314/styles/fonts/DejaVu/DejaVuSans.ttf",
        "DejaVu Sans|Bold": "http://cdn.kendostatic.com/2014.3.1314/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
        "DejaVu Sans|Bold|Italic": "http://cdn.kendostatic.com/2014.3.1314/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
        "DejaVu Sans|Italic": "http://cdn.kendostatic.com/2014.3.1314/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf"
    });

    $(".export-pdf").click(function () {
       // convert the dom element to a drawing using kendo.drawing.drawdom
        kendo.drawing.drawdom(".content-wrapper")
        .then(function (group) {
            // render the result as a pdf file
            return kendo.drawing.exportpdf(group, {
                papersize: "auto",
                forcepagebreak: ".page-break",
                margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
            });
        })
        .done(function (data) {
            // save the pdf file
            kendo.saveas({
                datauri: data,
                filename: "printing.pdf",
                proxyurl: "@url.action("pdf_export_save")"
            });
        });
       
    });


</script>


