@model MCAWebAndAPI.Model.ViewModel.Form.Finance.PettyCashStatementVM

@*
    FIN15: Petty Cash Statement
*@

@{
    ViewBag.Title = "Petty Cash Statement";
}

@using (Html.BeginForm("Display", "FINPettyCashStatement",
    FormMethod.Post,
    new
    {
        @class = "form-horizontal",
        enctype = "multipart/form-data"
    }))
{
    <fieldset>
        <legend>@ViewBag.Title</legend>
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.DateFrom).Class("col-sm-3 control-label")
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.DateFrom)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.DateTo).Class("col-sm-3 control-label")
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.DateTo)
                </div>

            </div>
            <div class="col-sm-3 control-label"></div>
            <div class="col-sm-8">
                <span class="field-validation-error" id="dateFromToValidationText" style="display:none;">Date (to) cannot be less than Date (from)</span>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-sm-12">
                    <button id="submit-button" class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        Submit
                    </button>
                </div>
            </div>
        </div>
</fieldset>

}
@section scripts{
    <script>
        $(document).ready(function () {

        });

        $('form').submit(function (evt) {
            var $form = $(this);
            var valid = true;
            if (!$form.valid()) {
                evt.preventDefault();
                valid = false;
            }
            if (!validateDateToAndFrom())
            {
                evt.preventDefault();
                valid = false;
            }

            return valid;
        });

        function validateDateToAndFrom()
        {
            if ($('#DateFrom').val() > $('#DateTo').val())
            {
                $('#dateFromToValidationText').show();
                return false;
            }
            $('#dateFromToValidationText').hide();
            return true;
        }
    </script>
}