@model MCAWebAndAPI.Model.ViewModel.Form.Finance.SCASettlementVM

@*
    Wireframe FIN07: SCA Settlement
*@

<style media="screen" type="text/css">
    .textbox-padding6px-readonly{
        padding:6px;
        background-color:#dedede;
        border: 0px;
        text-align:right;
    }
</style>
    
@using (Html.BeginForm(
    "Save", "FINSCASettlement",
    FormMethod.Post,
    new
    {
        @class = "form-horizontal",
        enctype = "multipart/form-data"
    }))
{

    <fieldset>
        <legend>SCA Settlement</legend>
        <div class="row">
            <div class="col-sm-6">
                @Html.HiddenFor(m => m.ID)
                @Html.HiddenFor(m => m.DocNo)
                @Html.HiddenFor(m => m.Operation)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.SCAVoucher).Class("col-sm-3 control-label")
                    <div class="col-sm-8">
                        @Html.EditorFor(m => m.SCAVoucher)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Description).Class("col-sm-3 control-label")
                    <div class="col-sm-8">
                        @Html.DisplayFor(m => m.Description)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Fund).Class("col-sm-3 control-label")
                    <div class="col-sm-8">
                        @Html.DisplayFor(m => m.Fund)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.TypeOfSettlement).Class("col-sm-3 control-label")
                    <div class="col-sm-8">
                        @Html.EditorFor(m => m.TypeOfSettlement)
                    </div>
                </div>
            </div>
            <!-- Right Column -->
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Currency).Class("col-sm-3 control-label")
                    <div class="col-sm-5">
                        @Html.DisplayFor(m => m.Currency, new { HtmlAttributes = new { @readonly = "readonly" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.SpecialCashAdvanceAmount).Class("col-sm-3 control-label")
                    <div class="col-sm-7">
                        @Html.EditorFor(m => m.SpecialCashAdvanceAmount, new { HtmlAttributes = new { @class = "textbox-padding6px-readonly", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.TotalExpense).Class("col-sm-3 control-label")
                    <div class="col-sm-8">
                        @Html.EditorFor(m => m.TotalExpense, new { HtmlAttributes = new { @class = "textbox-padding6px-readonly", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.ReceivedFromTo).Class("col-sm-3 control-label")
                    <div class="col-sm-8">
                        @Html.EditorFor(m => m.ReceivedFromTo, new { HtmlAttributes = new { @class = "textbox-padding6px-readonly", @readonly = "readonly" } })
                    </div>
                </div>
            </div>

        </div>
        <legend>Item Details</legend>
        <div class="row">
            @Html.Partial("_ItemDetails", Model.ItemDetails)
        </div>
    </fieldset>


    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
                @if (Model.ID > 0)
                {
                    <button id="print-button" class="btn btn-default" type="button">
                        Print
                    </button>
                }
                &nbsp;

                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
                <button id="submit-cancel" class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Cancel", "FINSCASettlement")'">
                    <i class="fa fa-back"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>

}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#print-button').click(function (e) {
                if (!$('form').valid()) {
                    alert('Please make sure that all required fields are filled');
                    return;
                }

                var actionUrl = $('form').attr("action");
                var newActionUrl = actionUrl.replace("Save", "Print");

                $('form').prop('action', newActionUrl);
                $('form').submit();

            });

        });

        function OnSelectSCAVoucher(e)
        {
            var data = this.dataItem(e.item);

            var url = '@Url.Action("GetSCAVouchers", "FINSCASettlement")';

            $.ajax({
                url: url,
                type: "GET",
                data: { ID: data.Value },
                success: function (response) {
                    $('#Description').val(response.Purpose);
                    $('#Fund').val(response.Fund);
                    $('#SpecialCashAdvanceAmount').val(response.TotalAmount);
                    $('#Currency_Value').val(response.Currency);
                    
                    calculateTotal();
                },
                error: function (response) {

                }
            });
        }
    </script>
}
