@using MCAWebAndAPI.Model.ViewModel.Form.Finance
@model SCASettlementVM

@*
    Wireframe FIN07: SCA Settlement
*@

@{
    ViewBag.Title = "Print SCA Settlement";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}


<style media="screen" type="text/css">
    #TblDetail table {
        border: 1px solid black;
    }

    #TblDetail td {
        border: 1px solid black;
        padding: 20px;
    }

    #TblDetail th {
        background-color: silver;
        text-align: center;
        border: 1px solid black;
        padding: 4px;
    }

    #TblDetail .centerAlign {
        text-align: center;
    }

    #TblDetail .rightAlign {
        text-align: right;
        padding: 4px;
    }

    #TblDetail .footerBGColor {
        background-color: silver;
        padding: 4px;
        font-weight:bold;
         border: 0px solid black;
    }

    #TblNote td {
        padding: 10px;
    }
</style>

<div class="form-horizontal">
    <div class="row" style="text-align: center; margin-top: 20px;">
        <div id="logo-group" class="row">
            <img src="{XIMGPATHX}" alt="MCA Indonesia" width="100">
        </div>
        <div class="row" style="margin-top:5px;font-weight:bold;">
            MCA Indonesia
        </div>
        <div class="row" style="margin-top:10px; font-weight:bold;">
            Settlement Special Cash Advance
        </div>
    </div>
    <div class="row" style="text-align: left; margin-top: 20px; padding:25px;">
        <table width="100%">
            <tbody>
                <tr>
                    <td width="150px">Settlement SCA No.</td>
                    <td width="2px">:</td>
                    <td>@Model.DocNo</td>
                </tr>
                <tr>
                    <td width="150px">SCA Voucher No.</td>
                    <td width="2px">:</td>
                    <td>@Model.SCAVoucher.Text</td>
                </tr>
                <tr>
                    <td width="150px">Description</td>
                    <td width="2px">:</td>
                    <td>@Model.Description</td>
                </tr>
                <tr>
                    <td width="150px">Currency</td>
                    <td width="2px">:</td>
                    <td>@Model.Currency</td>
                </tr>
                <tr>
                    <td width="150px">Fund</td>
                    <td width="2px">:</td>
                    <td>@Model.Fund</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="row" style="text-align: left; margin-top: 20px; padding:25px;" id="TblDetail">
        <table width="100%">
            <thead>
                <tr>
                    <th>Receipt Date</th>
                    <th>Receipt No.</th>
                    <th>Payee</th>
                    <th>Description of Expenses</th>
                    <th>WBS</th>
                    <th>GL</th>
                    <th>Amount (per item)</th>
                    <th>Attachment</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ItemDetails.Count() > 0)
                {
                    var listData = Model.ItemDetails.ToList();
                    for (int i = 0; i < listData.Count; i++)
                    {
                        <tr>
                            <td>
                                @listData[i].ReceiptDate
                            </td>
                            <td>
                                @listData[i].ReceiptNo
                            </td>
                            <td>
                                @listData[i].Payee
                            </td>
                            <td>
                                @listData[i].DescriptionOfExpense
                            </td>
                            <td>
                                @listData[i].WBS.Text
                            </td>

                            <td>
                                @listData[i].GL.Text
                            </td>
                            <td>
                                @listData[i].Amount.ToString()
                            </td>

                            <td></td>
                        </tr>
                    }
                }
                <tr style="border-left:1px solid black;">
                    <td class="footerBGColor" style="border-color:transparent;"></td>
                    <td class="footerBGColor" style="border-color:transparent;"></td>
                    <td class="footerBGColor" style="border-color:transparent;"></td>
                    <td class="footerBGColor" style="border-color:transparent;"></td>
                    <td class="rightAlign footerBGColor" style="border-color:transparent;" colspan="2">Total Expense </td>
                    <td class="rightAlign footerBGColor" style="border-color:transparent;">@Model.TotalExpense.ToString()</td>
                    <td class="footerBGColor" style="border-color:transparent;"></td>
                </tr>

                <tr>
                    <td class="footerBGColor" style="border-color:transparent;"></td>
                    <td class="footerBGColor" style="border-color:transparent;"></td>
                    <td class="footerBGColor" style="border-color:transparent;"></td>
                    <td class="footerBGColor" style="border-color:transparent;"></td>
                    <td class="rightAlign footerBGColor" colspan="2" style="border-color:transparent;">Special Cash Advance</td>
                    <td class="rightAlign footerBGColor" style="border-color:transparent;">@Model.SpecialCashAdvanceAmount.ToString()</td>
                    <td class="footerBGColor" style="border-color:transparent;"></td>
                </tr>

                <tr>
                    <td class="footerBGColor" style="border-color:transparent;"></td>
                    <td class="footerBGColor" style="border-color:transparent;"></td>
                    <td class="footerBGColor" style="border-color:transparent;"></td>
                    <td class="footerBGColor" style="border-color:transparent;"></td>
                    <td class="rightAlign footerBGColor" style="border-color:transparent;" colspan="2"> Received from/to</td>
                    <td class="rightAlign footerBGColor" style="border-color:transparent;">@Model.ReceivedFromTo.ToString()</td>
                    <td class="footerBGColor" style="border-color:transparent;"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="text-align: left; margin-top: 20px; padding:25px;">
        <table width="100%" id="TblNote">
            <tbody>
                <tr>
                    <td>
                        I, the authorized MCA project signatory, approve payment of this invoice and certify that the goods, works or services represented on this invoice/receipts have been accepted by and received by MCA-I.
                        Meet all the requirements of the contract with the vendor, and their procurement meets all the requirements of the Compact, the Program, Procurement Guidelines and all other relevant supplemental
                        agreement requirements.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="text-align: left; margin-top: 60px; padding:25px;">
        <table width="100%">
            <tbody>
                <tr>
                    <td colspan="3">
                        <p style="font-weight:bold; margin-bottom:20px;"> I. PROJECT AUTHORIZATION</p>
                    </td>
                </tr>
                <tr>
                    <td width="35%" style="font-weight:bold;">Prepared by Special Disbursement Officer:</td>
                    <td width="32%" style="font-weight:bold;">Reviewed by Operations and Finance Manager:</td>
                    <td style="font-weight:bold;">Approved by Project Director:</td>
                </tr>
                <tr>
                    <td>
                        <div style="height:100px; border-bottom:1px solid black; width:250px;"></div>
                    </td>
                    <td>
                        <div style="height:100px; border-bottom:1px solid black; width:250px;"></div>
                    </td>
                    <td>
                        <div style="height:100px; border-bottom:1px solid black; width:250px;"></div>
                    </td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>Name:</td>
                    <td>Name:</td>
                </tr>
                <tr>
                    <td>Date:</td>
                    <td>Date:</td>
                    <td>Date:</td>
                </tr>

                <tr>
                    <td colspan="3">
                        <div style="height:20px; border-bottom:2px solid black; width:100%;"></div>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <p style="font-weight:bold; margin-bottom:20px;"> I. FINANCE AUTHORIZATION</p>
                    </td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Reviewed by Finance Specialist:</td>
                    <td width="60%"></td>
                    <td style="font-weight:bold;">Approved by DED for Ops/CFO or Executive Director:</td>
                </tr>
                <tr>
                    <td>
                        <div style="height:100px; border-bottom:1px solid black; width:250px;"></div>
                    </td>
                    <td width="60%"></td>
                    <td>
                        <div style="height:100px; border-bottom:1px solid black; width:250px;"></div>
                    </td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td width="60%"></td>
                    <td>Name:</td>
                </tr>
                <tr>
                    <td>Date:</td>
                    <td width="60%"></td>
                    <td>Date:</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>