@model MCAWebAndAPI.Model.ViewModel.Form.Finance.TaxExemptionOtherVM

<div class="form-group">
    @Html.Bootstrap().LabelFor(m => m.TaxPeriod).Class("col-md-4 control-label")
    <div class="col-md-8">
        @Html.EditorFor(m => m.TaxPeriod)
    </div>
</div>
<div class="form-group">
    @Html.Bootstrap().LabelFor(m => m.GrossIncome).Class("col-md-4 control-label")
    <div class="col-md-8">
        @Html.EditorFor(m => m.GrossIncome)
    </div>
</div>
<div class="form-group">
    @Html.Bootstrap().LabelFor(m => m.TotalTax).Class("col-md-4 control-label")
    <div class="col-md-8">
        @Html.EditorFor(m => m.TotalTax)
    </div>
</div>
