@model MCAWebAndAPI.Model.ViewModel.Form.Finance.TaxExemptionVM

@using (Html.BeginForm("ItemVATTax", "FINTaxExemption", FormMethod.Post,
                                                                        new
                                                                        {
                                                                            @class = "form-horizontal",
                                                                            enctype = "multipart/form-data"
                                                                        }))
{
    <fieldset>
        <legend>Tax Exemption Data</legend>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.TypeOfTax).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.TypeOfTax.Value, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div id="VAT">
                @Html.Partial("_VAT", Model.TaxExemptionVATVM, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "TaxExemptionVATVM" } })
            </div>
            <div id="CommonStuff">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Remarks).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.Remarks)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Documents).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.Documents)
                    </div>
                </div>

                @* Partially implemented, waiting for complete implementation in requisition note / SPHL *@
                @if (!string.IsNullOrWhiteSpace(Model.DocumentUrl))
                {
                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.Bootstrap().LabelFor(m => m).Class("col-sm-4 control-label")
                                <div class="col-sm-8">
                                    <button id="application-document-button" class="btn btn-default" type="button">
                                        Click Here to go to Tax Exemption VAT Document Attachments
                                    </button>
                                </div>
                            </div>
                        </div>
                        <script>
                        $('#application-document-button').click(function () {
                            parent.postMessage({
                                result: "Success", urlToRedirect: "@Model.DocumentUrl"
                            }, "@Model.DocumentUrl");
                        });
                        </script>
                    </div>
                }
            </div>
            @Html.HiddenFor(m => m.ID)
        </div>
    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
                <button id="submit-button" class="btn btn-primary" type="submit" value="Save" name="actionType">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
                <a href="@ViewBag.CancelUrl" target='_parent'>
                    <input class="k-button k-button-icontext k-grid-add" size="4" value="Cancel" />
                </a>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {

        });
    </script>
}

<style media="screen">
    .k-button-icontext {
        height: 35px;
        margin-left: 5px;
    }
</style>