@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ManpowerRequisitionVM


<div class="col-md-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.DateRequested).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.DateRequested)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.IsOnBehalfOf).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.IsOnBehalfOf)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.DivisionProjectUnit).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.DivisionProjectUnit)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.ReportingTo).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.ReportingTo.Text)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.NoOfPerson).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.NoOfPerson)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Tenure).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.Tenure)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.JobLocation).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.JobLocation.Text)
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
       
        <div class="col-md-8">
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.OnBehalfOf).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.OnBehalfOf.Text)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Position).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.Position.Text)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.SecondaryReportingTo).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.SecondaryReportingTo.Text)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8">
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.ExpectedJoinDate).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.ExpectedJoinDate)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.IsTravellingRequired).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.IsTravellingRequired)
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.PositionObjectives).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.PositionObjectives)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.IsKeyPosition).Class("col-md-4 control-label")
        <div class="col-md-8">
            @Html.DisplayFor(m => m.IsKeyPosition)
        </div>
    </div>
</div>

