@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ManpowerRequisitionVM

@{
    ViewBag.Title = "CreateManpowerRequisition";
}

@using (Html.BeginForm("CreateManpowerRequisition", "HRManpowerRequisition", FormMethod.Post, 
                                                     new
                                                     { @class = "form-horizontal",
                                                         enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>General</legend>
        @Html.HiddenFor(m => m.Status.Value)
        @Html.HiddenFor(m => m.Username)
        @Html.HiddenFor(m => m.EmailOnBehalf)
        <div class="row">
            @Html.Partial("_General", Model)
        </div>
        <legend>Supporting Document</legend>
        <div class="row">
            @Html.Partial("_SupportingDocument", Model)
        </div>
        <legend>Working Relationship</legend>
        <div class="row">
            @Html.Partial("_WorkingRelationship", Model.WorkingRelationshipDetails)
        </div>
        <legend>Resources and Planning</legend>
        <div class="row">
            @Html.Partial("_ResourcesAndPlanning", Model)
        </div>
        <legend>Background Requirement</legend>
        <div class="row">
            @Html.Partial("_BackgroundRequirement", Model)
        </div>
        <legend>Specific Experience</legend>
        <div class="row">
            @Html.Partial("_Specificexperience", Model)
        </div>
        <legend>Other Requirements</legend>
        <div class="row">
            @Html.Partial("_OtherRequirements", Model)
        </div>
       
        
    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-xs-12">
                <input type="button" class="btn btn-default" id="StatusSubmit" name="StatusSubmit" value="Submit for Approval">        
                <input type="button" class="btn btn-default" id="StatusDraft" name="StatusDraft" value="Save as Draft">             
            </div>
        </div>
    </div>
}

@section scripts{


    <script>

        function filterLevel() {
            console.log("filterlever works");
            return {
                Level: $('#DivisionProjectUnit_Value').data("kendoDropDownList").dataItem($('#DivisionProjectUnit_Value').data("kendoDropDownList").select())
            };

        }

        function OnBehalfOfChange(e) {
            var dataItem = this.dataItem(e.item);
            $("#EmailOnBehalf").prop("value", dataItem.OfficeEmail);

        }
        function onPositionChange(e) {
            console.log(e);
            var dataItem = this.dataItem(e.item);
            if (dataItem == null) {
                
            }
            else {
                //var urlKeyPosition = "/HRDataMaster/GetKeyPosition/" + dataItem.ID;
                if (dataItem.IsKeyPosition == "Yes") {
                    //$('#KeyPositionValue').prop('value', "Yes");
                    $("label[for='Yes']").show();
                    $("label[for='No']").hide();
                    $("#IsKeyPosition").val(true);

                }
                else {
                    $("label[for='No']").show();
                    $("label[for='Yes']").hide();
                    $("#IsKeyPosition").val(false);
                }
            }
            

        };
        $(document).ready(function () {
            $("#IsKeyPosition").val(true);
            $("label[for='Yes']").show();
            $("label[for='No']").hide();
            $("#OnBehalfOf_Value").data("kendoDropDownList").enable(false);
            $("#IsOnBehalfOf").click(function () {
                if (!$(this).is(":checked")) {
                    $("#OnBehalfOf_Value").data("kendoDropDownList").enable(false);
                }
                else {

                    $("#OnBehalfOf_Value").data("kendoDropDownList").enable(true);
                }

            });
            $("#StatusSubmit").click(function () {
                var isValid = checkGrid();
                if (isValid && ($('.form-horizontal').valid())) {
                    $("#Status_Value").prop("value", "Pending Approval");
                    //var projectUnit = $('#DivisionProjectUnit_Value').data("kendoDropDownList").dataItem($('#DivisionProjectUnit_Value').data("kendoDropDownList").select()).ProjectUnit;
                    //$('#ProjectUnitString').prop("value", projectUnit);
                    $("form").submit();
                    showLoading();
                }               
                
            });
            $("#StatusDraft").click(function () {
                var isValid = checkGrid();
                if (isValid && ($('.form-horizontal').valid())) {
                    $("#Status_Value").prop("value", "Draft");
                    $("form").submit();
                    showLoading();
                }                
            });

        });

        function checkGrid() {
            var grid = $("#WorkingRelationshipDetails").data("kendoGrid").dataSource.data();
            for (var i = 0; i < grid.length; i++) {
                if (grid[i].EditMode == 0) {
                    if (!(grid[i].Frequency.length) || !(grid[i].Relationship.length) || (grid[i].PositionWorking.Text == null)) {
                        alert("Please complete the field on Working Relationship Detail");
                        return false;
                    }
                }
            }
            var validator = $("#ValidateMyContents").kendoValidator().data("kendoValidator"),
            status = $(".status");
            return true;
        }

        function onSuccess(data) {

            window.location.href = data.urlToRedirect;
        }

        function onFailure(data) {

            window.location.href = data.urlToRedirect;
        }

    </script>
}