@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ManpowerRequisitionVM

@{
    ViewBag.Title = "CreateManpowerRequisition";
}

@using (Html.BeginForm("CreateManpowerRequisition", "HRManpowerRequisition", FormMethod.Post, 
                                                     new
                                                     { @class = "form-horizontal",
                                                         enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>General</legend>
        <div class="row">
            @Html.Partial("_General", Model)
        </div>
        <legend>Supporting Document</legend>
        <div class="row">
            @Html.Partial("_SupportingDocument", Model)
        </div>
        <legend>Working Relationship</legend>
        <div class="row">
            @Html.Partial("_WorkingRelationship", Model.WorkingRelationshipDetails)
        </div>
        <legend>Resources and Planning</legend>
        <div class="row">
            @Html.Partial("_ResourcesAndPlanning", Model)
        </div>
        <legend>Background Requirement</legend>
        <div class="row">
            @Html.Partial("_BackgroundRequirement", Model)
        </div>
        <legend>Specific Experience</legend>
        <div class="row">
            @Html.Partial("_Specificexperience", Model)
        </div>
        <legend>Other Requirements</legend>
        <div class="row">
            @Html.Partial("_OtherRequirements", Model)
        </div>
         @Html.HiddenFor(m=>m.Status.Value)
        
    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-12">
                <input type="button" class="btn btn-default" id="StatusDraft" name="StatusDraft" value="Save as Draft">     
                <input type="button" class="btn btn-default" id="StatusSubmit" name="StatusSubmit" value="Submit for Approval">                
            </div>
        </div>
    </div>
}

@section scripts{

    <script>
        $(document).ready(function () {
            $("#StatusSubmit").click(function () {
                $("#Status_Value").val("Pending Approval")
                $("form").submit();
            });
            $("#StatusDraft").click(function () {
                $("#Status_Value").val("Draft")
                $("form").submit();
            });
            
        });
        function onSelectIDCardType(e) {
            var dataItem = this.dataItem(e.item);
            if (dataItem === "KTP") {
                $('#IDCardExpiry').closest('.form-group').show();
            } else {
                $('#IDCardExpiry').closest('.form-group').hide();
            }
        }
    </script>
}