@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ManpowerRequisitionVM

@{
    ViewBag.Title = "CreateManpowerRequisition";
}

@using (Html.BeginForm("CreateManpowerRequisition", "HRManpowerRequisition", FormMethod.Post, 
                                                     new
                                                     { @class = "form-horizontal",
                                                         enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>General</legend>
        @Html.HiddenFor(m => m.Status.Value)
        @Html.HiddenFor(m => m.Username)
        @Html.HiddenFor(m => m.EmailOnBehalf)
        <div class="row">
            @Html.Partial("_General", Model)
        </div>
        <legend>Supporting Document</legend>
        <div class="row">
            @Html.Partial("_SupportingDocument", Model)
        </div>
        <legend>Working Relationship</legend>
        <div class="row">
            @Html.Partial("_WorkingRelationship", Model.WorkingRelationshipDetails)
        </div>
        <legend>Resources and Planning</legend>
        <div class="row">
            @Html.Partial("_ResourcesAndPlanning", Model)
        </div>
        <legend>Background Requirement</legend>
        <div class="row">
            @Html.Partial("_BackgroundRequirement", Model)
        </div>
        <legend>Specific Experience</legend>
        <div class="row">
            @Html.Partial("_Specificexperience", Model)
        </div>
        <legend>Other Requirements</legend>
        <div class="row">
            @Html.Partial("_OtherRequirements", Model)
        </div>
        <legend>Approval Workflow</legend>
        <div id="workflow-placeholder" class="row" />
        
        
    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-12">
                <input type="button" class="btn btn-default" id="StatusDraft" name="StatusDraft" value="Save as Draft">     
                <input type="button" class="btn btn-default" id="StatusSubmit" name="StatusSubmit" value="Submit for Approval">                
            </div>
        </div>
    </div>
}

@section scripts{


    <script>
        function OnBehalfOfChange(e) {
            var dataItem = this.dataItem(e.item);
            $("#EmailOnBehalf").prop("value", dataItem.OfficeEmail);
        }
        function onPositionChange(e) {            
            var dataItem = this.dataItem(e.item);
            //var urlKeyPosition = "/HRDataMaster/GetKeyPosition/" + dataItem.ID;
            if (dataItem.IsKeyPosition == "Yes") {
                //$('#KeyPositionValue').prop('value', "Yes");
                $("label[for='Yes']").show();
                $("label[for='No']").hide();
                $("#IsKeyPosition").val(true);

            }
            else {
                $("label[for='No']").show();
                $("label[for='Yes']").hide();
                $("#IsKeyPosition").val(false);
            }
            console.log(dataItem);

        };
        $(document).ready(function () {
            displayWorkflowRouter("workflow-placeholder", "@ViewBag.ListName", "@ViewBag.RequestorUserLogin");


            $("#IsKeyPosition").val(true);
            $("label[for='Yes']").show();
            $("label[for='No']").hide();
            $("#OnBehalfOf_Value").data("kendoDropDownList").enable(false);
            $("#IsOnBehalfOf").click(function () {
                if (!$(this).is(":checked")) {
                    $("#OnBehalfOf_Value").data("kendoDropDownList").enable(false);
                }
                else {
                    
                    $("#OnBehalfOf_Value").data("kendoDropDownList").enable(true);
                }
                    
            });
            $("#StatusSubmit").click(function () {
                $("#Status_Value").prop("value", "Pending Approval 1 of 2");
                $("form").submit();
            });
            $("#StatusDraft").click(function () {
                $("#Status_Value").prop("value", "Draft");
                $("form").submit();
            });
            
        });
        
    </script>
}