@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ManpowerRequisitionVM

@{
    ViewBag.Title = "Display Manpower Requisition";
}

@using (Html.BeginForm("DisplayManpowerRequisition", "HRManpowerRequisition", FormMethod.Post,
                                                                             new
                                                                             {
                                                                                 @class = "form-horizontal",
                                                                                 enctype = "multipart/form-data"
                                                                             }))
{
    <fieldset>
        <legend>General</legend>
        <div class="row">
            @Html.Partial("_GeneralDisp", Model)
        </div>
        <legend>Supporting Document</legend>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m).Class("col-xs-4 control-label")
                    <div class="col-xs-8">
                        <button id="application-document-button" class="btn btn-default" type="button">
                            Click Here to go to Manpower Requisite Document
                        </button>
                    </div>
                </div>
            </div>

            <script>
    $('#application-document-button').click(function () {
        parent.postMessage({
            result : "Success", urlToRedirect : "@Model.DocumentUrl" }, "@Model.DocumentUrl" );
    });
            </script>
            <legend>Working Relationship</legend>
            <div class="row">
                @Html.Partial("_WorkingRelationship", Model.WorkingRelationshipDetails)
            </div>
            <legend>Resources and Planning</legend>
            <div class="row">
                @Html.Partial("_ResourcesAndPlanningDisp", Model)
            </div>
            <legend>Background Requirement</legend>
            <div class="row">
                @Html.Partial("_BackgroundRequirementDisp", Model)
            </div>
            <legend>Specific Experience</legend>
            <div class="row">
                @Html.Partial("_SpecificexperienceDisp", Model)
            </div>
            <legend>Other Requirements</legend>
            <div class="row">
                @Html.Partial("_OtherRequirementsDisp", Model)
            </div>

            @Html.HiddenFor(m => m.ID);
            @Html.HiddenFor(m => m.Status.Value);
    </fieldset>
   
}

@section scripts{

    <script>
       

    </script>
}