@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ManpowerRequisitionVM

@{
    ViewBag.Title = "EditManpowerRequisition";
}

@using (Html.BeginForm("EditManpowerRequisition", "HRManpowerRequisition", FormMethod.Post,
                                                                                                                             new
                                                                                                                             {
                                                                                                                                 @class = "form-horizontal",
                                                                                                                                 enctype = "multipart/form-data"
                                                                                                                             }))
{
    <fieldset>
        <legend>General</legend>

        <div class="row">
            @{if ((Model.Status.Value == "Approved") || (Model.Status.Value == "Rejected") || (Model.Status.Value == "Active"))
                {
                    @Html.Partial("_GeneralDisp", Model)
                }
                else
                {
                    @Html.Partial("_General", Model)
                }
            }
        </div>
        <legend>Supporting Document</legend>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m).Class("col-xs-4 control-label")
                    <div class="col-xs-8">
                        <button id="application-document-button" class="btn btn-default" type="button">
                            Click Here to go to Manpower Requisite Document
                        </button>
                    </div>
                </div>
            </div>

            <script>
                $('#application-document-button').click(function () {
                    parent.postMessage({
                        result: "Success", urlToRedirect: "@Model.DocumentUrl"
                    }, "@Model.DocumentUrl");
                });
            </script>

        </div>
        <div class="row">
            @Html.Partial("_SupportingDocument", Model)
        </div>
        <legend>Working Relationship</legend>
        <div class="row">
            @Html.Partial("_WorkingRelationship", Model.WorkingRelationshipDetails)
        </div>
        <legend>Resources and Planning</legend>
        <div class="row">
            @{if ((Model.Status.Value == "Approved") || (Model.Status.Value == "Rejected") || (Model.Status.Value == "Active"))
                {
                    @Html.Partial("_ResourcesAndPlanningDisp", Model)
                }
                else
                {
                    @Html.Partial("_ResourcesAndPlanning", Model)
                }
            }
        </div>
        <legend>Background Requirement</legend>
        <div class="row">
            @{if ((Model.Status.Value == "Approved") || (Model.Status.Value == "Rejected") || (Model.Status.Value == "Active"))
                {
                    @Html.Partial("_BackgroundRequirementDisp", Model)
                }
                else
                {
                    @Html.Partial("_BackgroundRequirement", Model)
                }
            }
        </div>
        <legend>Specific Experience</legend>
        <div class="row">
            @{if ((Model.Status.Value == "Approved") || (Model.Status.Value == "Rejected") || (Model.Status.Value == "Active"))
                {
                    @Html.Partial("_SpecificexperienceDisp", Model)
                }
                else
                {
                    @Html.Partial("_Specificexperience", Model)
                }
            }
        </div>
        <legend>Other Requirements</legend>
        <div class="row">
            @{if ((Model.Status.Value == "Approved") || (Model.Status.Value == "Rejected") || (Model.Status.Value == "Active"))
                {
                    @Html.Partial("_OtherRequirementsDisp", Model)
                }
                else
                {
                    @Html.Partial("_OtherRequirements", Model)
                }
            }
        </div>
        @if (ViewBag.IsHRView)
        {
            <legend>Status</legend>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        @Html.Bootstrap().LabelFor(m => m.Status).Class("col-xs-4 control-label")
                        <div class="col-xs-8">
                            @if (Model.Status.Value == "Rejected")
                            {
                                @Html.DisplayFor(m => m.Status)
                            }
                            else
                            {
                                @Html.EditorFor(m => m.Status)
                            }

                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
                @Html.HiddenFor(m => m.Status.Value)
        }

        @Html.HiddenFor(m => m.ID);
    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-xs-12">
                @if (ViewBag.IsHRView)
                {
                    <button id="save-button" class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>
                        Save
                    </button>

                    if (Model.Status.Value == "Pending Approval")
                    {
                        <button id="reroute-button" class="btn btn-primary" type="button">
                            <i class="fa fa-save"></i>
                            Re-Route Workflow
                        </button>
                    }
                }
                else
                {
                    if (Model.Status.Value == "Draft" || Model.Status.Value == "Pending Approval")
                    {
                        <button id="submit-button" class="btn btn-primary" type="button">
                            <i class="fa fa-save"></i>
                            Submit for Approval
                        </button>
                    }
                    if (Model.Status.Value == "Draft")
                    {
                        <button id="draft-button" class="btn btn-primary" type="button">
                            <i class="fa fa-save"></i>
                            Save as Draft
                        </button>
                    }
                }
                    
                



            </div>
        </div>
    </div>
                }

@section scripts{

    <script>

        function filterLevel() {
            return {
                Level: $('#DivisionProjectUnit_Value').data("kendoDropDownList").dataItem($('#DivisionProjectUnit_Value').data("kendoDropDownList").select())
            };

        }

        function OnBehalfOfChange(e) {
            var dataItem = this.dataItem(e.item);
            $("#EmailOnBehalf").prop("value", dataItem.OfficeEmail);
        }

        function onPositionChange(e) {
            var dataItem = $("#Position_Value").data("kendoDropDownList").dataItem(e.item);
            //var urlKeyPosition = "/HRDataMaster/GetKeyPosition/" + dataItem.ID;
            if (dataItem.IsKeyPosition == "Yes") {
                $("label[for='Yes']").show();
                $("label[for='No']").hide();
                $("#IsKeyPosition").val(true);

            }
            else {
                $("label[for='No']").show();
                $("label[for='Yes']").hide();
                $("#IsKeyPosition").val(false);
            }

        };
        function checkGrid() {
            //var grid = $("#WorkingRelationshipDetails").data("kendoGrid").dataSource.data();
            //for (var i = 0; i < grid.length; i++) {
            //    if (grid[i].EditMode == 0) {
            //        if ((grid[i].PositionWorking.Text == null)) {
            //            alert("Please complete the field on Working Relationship Detail");
            //            return false;
            //        }
            //    }
            //}
            return true;
        }
        $(document).ready(function () {
            var id = $("#ID").val();
            var isHR = '@(ViewBag.IsHRView)';
            var onBehalf = '@(Model.IsOnBehalfOf)';

            if (isHR == "True") {
                var initialStatusValue = $("#Status_Value").attr("value");
                var dropdownStatus = $("#Status_Value").data("kendoDropDownList");
                var oldChoices = dropdownStatus.dataSource.data();
                if (oldChoices.indexOf(initialStatusValue) == -1) {
                    oldChoices.unshift(initialStatusValue);
                    dropdownStatus.dataSource.data(oldChoices);
                    dropdownStatus.select(0);
                }
            }

            if (onBehalf == "True") {
                $("#OnBehalfOf_Value").data("kendoDropDownList").enable(true);
            }
            else {
                $("#OnBehalfOf_Value").data("kendoDropDownList").enable(false);

            }
            
            $("#IsOnBehalfOf").click(function () {
                if (!$(this).is(":checked")) {
                    $("#OnBehalfOf_Value").data("kendoDropDownList").enable(false);
                }
                else {
                    $("#OnBehalfOf_Value").data("kendoDropDownList").enable(true);
                }

            });

            $("#save-button").click(function () {
                var isValid = checkGrid();
                if (isValid) {
                    if (isHR == "True") {
                        //var url = "/HRManpowerRequisitio/GetDocumentMCC/" +id;
                    }
                    $("form").submit();
                }

            });
            $("#draft-button").click(function () {
                var isValid = checkGrid();
                if (isValid) {
                    $("#Status_Value").prop("value", "Draft");
                    $("form").submit();
                }
            });
            $("#submit-button").click(function () {
                var isValid = checkGrid();
                if (isValid) {
                    $("#Status_Value").prop("value", "Pending Approval");
                    $("form").submit();
                }
            });
            var isKeyPosition = $("#IsKeyPosition").val();
            if (isKeyPosition == "True") {
                //$('#KeyPositionValue').prop('value', "Yes");
                $("label[for='Yes']").show();
                $("label[for='No']").hide();
                //$("#IsKeyPosition").val(true);

            }
            else {
                $("label[for='No']").show();
                $("label[for='Yes']").hide();
                //$("#IsKeyPosition").val(false);
            }
        });

    </script>
}