@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ApplicationDataVM

<div class="col-xs-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.PermanentAddress).Class("col-xs-4 control-label")
        <div class="col-xs-8">
            @Html.DisplayFor(m => m.PermanentAddress)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.CurrentAddress).Class("col-xs-4 control-label")
        <div class="col-xs-8">
            @Html.DisplayFor(m => m.CurrentAddress)
        </div>
    </div>
</div>
<div class="col-xs-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.EmailAddresOne).Class("col-xs-4 control-label")
        <div class="col-xs-8">
            @Html.DisplayFor(m => m.EmailAddresOne)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.EmailAddresTwo).Class("col-xs-4 control-label")
        <div class="col-xs-8">
            @Html.DisplayFor(m => m.EmailAddresTwo)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Telephone).Class("col-xs-4 control-label")
        <div class="col-xs-8">
            @Html.DisplayFor(m => m.Telephone)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.CurrentTelephone).Class("col-xs-4 control-label")
        <div class="col-xs-8">
            @Html.DisplayFor(m => m.CurrentTelephone)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.MobileNumberOne).Class("col-xs-4 control-label")
        <div class="col-xs-8">
            @Html.DisplayFor(m => m.MobileNumberOne)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.MobileNumberTwo).Class("col-xs-4 control-label")
        <div class="col-xs-8">
            @Html.DisplayFor(m => m.MobileNumberTwo)
        </div>
    </div>
</div>
