@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ApplicationDataVM

<div class="col-xs-12" style="margin-bottom: 20px">
    @(Html.Kendo().Grid(Model.WorkingExperienceDetails)
        .Name("WorkingExperienceDetails")
        .Columns(columns =>
        {
            columns.Bound(p => p.Position);
            columns.Bound(p => p.Company);
            columns.Bound(p => p.From);
            columns.Bound(p => p.To);
            columns.Bound(p => p.Remarks);
        })
        .DataSource(dataSource => dataSource.Ajax()
                   .Model(model =>
                   {
                       model.Id(p => p.ID);
                   })
        )
    )
</div>
<div class="col-xs-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.YearRelevanWork).Class("col-xs-4 control-label")
        <div class="col-xs-8">
            @Html.Kendo().TextBoxFor(model => model.YearRelevanWork).HtmlAttributes(new { @class = "form-control", style = "width:100%;" })
        </div>
    </div>
</div>
<div class="col-xs-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.MonthRelevantWork).Class("col-xs-4 control-label")
        <div class="col-xs-8">
            @Html.Kendo().TextBoxFor(model => model.MonthRelevantWork).HtmlAttributes(new { @class = "form-control", style = "width:100%;" })
        </div>
    </div>
</div>


<script>
    function getWorkingExperienceDetail(dataItem) {
        var data = $("#WorkingExperienceDetails").data("kendoGrid").dataSource.data();
        return data.indexOf(dataItem);
    }
</script>

