@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ApplicationDataVM

@{
    ViewBag.Title = "CreateApplicationData";
}

@using (Html.BeginForm("CreateApplicationData", "HRApplication", FormMethod.Post, 
new
{ @class = "form-horizontal",
enctype = "multipart/form-data" }))
{
<fieldset>
    <legend>Personal Details</legend>
    <div class="row">
        <div class="col-sm-6">
            @Html.Bootstrap().LabelFor(m => m.Position).Class("col-sm-4 control-label")
            <div class="col-sm-8">
                @Html.DisplayFor(m => m.Position)
            </div>
            @Html.HiddenFor(m => m.ManpowerRequisitionID)
            @Html.HiddenFor(m => m.PositionID)
        </div>
    </div>
    <div class="row">
        @Html.Partial("_PersonalDetails", Model)
    </div>
    <legend>Contact Information</legend>
    <div class="row">
        @Html.Partial("_ContactInformationDetails", Model)
    </div>
    <legend>Education</legend>
    <div class="row">
        @Html.Partial("_EducationDetails", Model.EducationDetails)
    </div>
    <legend>Training</legend>
    <div class="row">
        @Html.Partial("_TrainingDetails", Model.TrainingDetails)
    </div>
    <legend>Specialization</legend>
    <div class="row">
        @Html.Partial("_SpecializationDetails", Model)
    </div>
    <legend>Working Experience</legend>
    <div class="row">
        @Html.Partial("_WorkingExperienceDetails", Model)
    </div>
    <legend>Documents</legend>
    <div class="row">
        @Html.Partial("_DocumentDetails", Model)
    </div>
</fieldset>
<div class="form-actions">
    <div class="row">
        <div class="col-sm-12">
            <button id="print-button" class="btn btn-primary" type="button" onclick="printApplication()">
                Print
            </button>
            <button id="submit-button" class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Submit
            </button>
        </div>
    </div>
</div>
}

@section scripts{
    <script>
        function printApplication()
        {
            var url = "/HRApplication/PrintApplicationData";
            submitFormToPrint(url);
        }

        $(document).ready(function () {

            //var url = "/HRExitProcedure/DisplayExitChecklistForHR/?professionalMail=" + professionalMail;
            var positionID = $("#PositionID").val()
            console.log("positionID: " + positionID);

            var url = "/HRDataMaster/GetKeyPosition/" + positionID;

            $.getJSON(url, function (result)
            {
                if (result.length != 0)
                {
                    console.log("result: " + result[0]);

                    var positionName = result[0].PositionName;
                    console.log("positionName: " + positionName);

                    $('#Position').prop('value', positionName);
                }

            })
 
            //if (positionName == "Project Operations")
            //{
            //    positionName = "Project Operations & Finance"
            //}
            //console.log("positionName: " + positionName);
        });
    </script>
}