@using MCAWebAndAPI.Model.ViewModel.Form.HR
@using MCAWebAndAPI.Model.Common

@model ApplicationDataVM

@{
    ViewBag.Title = "CreateApplicationData";
}

@using (Ajax.BeginForm("SetStatusApplicationData", "HRApplication", FormMethod.Post, new AjaxOptions
{
    OnBegin = "onBeginForm",
    OnFailure = "onFailureForm",
    OnSuccess = "onSuccessForm",
    OnComplete = "onCompleteForm"
}, new
{
    @class = "form-horizontal"
}))
{
    <fieldset>
        @Html.HiddenFor(m => m.ID)

        <legend>Personal Details</legend>
        <div class="row">
            @Html.Partial("_PersonalDetails", Model)
        </div>
        <legend>Contact Information</legend>
        <div class="row">
            @Html.Partial("_ContactInformationDetails", Model)
        </div>
        <legend>Education</legend>
        <div class="row">
            @Html.Partial("_EducationDetails", Model.EducationDetails)
        </div>
        <legend>Training</legend>
        <div class="row">
            @Html.Partial("_TrainingDetails", Model.TrainingDetails)
        </div>
        <legend>Specialization</legend>
        <div class="row">
            @Html.Partial("_SpecializationDetails", Model)
        </div>
        <legend>Working Experience</legend>
        <div class="row">
            @Html.Partial("_WorkingExperienceDetails", Model)
        </div>
        <legend>Documents</legend>
        <div class="row">
            @Html.Partial("_DocumentDetails_Display", Model.DocumentUrl)
        </div>
        <legend>Application Status</legend>
        <div class="row">
            <div class="col-sm-6 pull-right">
                @{
                    Model.WorkflowStatusOptions.Choices = ApplicationDataVM.GetWorkflowStatusOptions(Model.ApplicationStatus);
                }
                @Html.Bootstrap().LabelFor(m => m.WorkflowStatusOptions).Class("col-sm-4 control-label")
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.WorkflowStatusOptions)
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>
    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
                <button id="set-status-button" type="button" class="btn btn-primary">Set Status</button>
            </div>
        </div>
    </div>
                    }

@section scripts{

    <script>
        $("#set-status-button").click(function (e) {
            if (!$('form').valid()) {
                alert('Please make sure that all required fields are filled');
                return;
            }

            e.preventDefault();

            // Get value from kendo dropdownlist
            var applicationStatus = $('#WorkflowStatusOptions_Value').data("kendoDropDownList").value();
            if (applicationStatus ==  "@Workflow.GetApplicationStatus(Workflow.ApplicationStatus.ONBOARD)" ) {
                $('form').prop('action', '/HRProfessional/CreateFromApplicationData');
            }
            $('form').submit();
        });

        function onSelectIDCardType(e) {
            var dataItem = this.dataItem(e.item);
            if (dataItem === "KTP") {
                $('#IDCardExpiry').closest('.form-group').show();
            } else {
                $('#IDCardExpiry').closest('.form-group').hide();
            }
        }

        $(document).ready(function () {
            $('input').prop('readonly', 'true');
            $('textarea').prop('readonly', 'true');
        });
    </script>
}
