@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ApplicationDataVM

@{
    ViewBag.Title = "CreateApplicationData";
}

<div class="form-horizontal">
    <fieldset>
        <legend>Personal Details</legend>
        <div class="row">
            @Html.Partial("_PersonalDetails", Model)
        </div>
        <legend>Contact Information</legend>
        <div class="row">
            @Html.Partial("_ContactInformationDetails", Model)
        </div>
        <legend>Education</legend>
        <div class="row">
            @Html.Partial("_EducationDetails", Model.EducationDetails)
        </div>
        <legend>Training</legend>
        <div class="row">
            @Html.Partial("_TrainingDetails", Model.TrainingDetails)
        </div>
        <legend>Specialization</legend>
        <div class="row">
            @Html.Partial("_SpecializationDetails", Model)
        </div>
        <legend>Working Experience</legend>
        <div class="row">
            @Html.Partial("_WorkingExperienceDetails", Model)
        </div>
        <legend>Documents</legend>
        <div class="row">
            @Html.Partial("_DocumentDetails_Display", Model. DocumentUrl)
        </div>
    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-12"><br/></div>
        </div>
    </div>
</div>

    @section scripts{

        <script>
            function onSelectIDCardType(e) {
                var dataItem = this.dataItem(e.item);
                if (dataItem === "KTP") {
                    $('#IDCardExpiry').closest('.form-group').show();
                } else {
                    $('#IDCardExpiry').closest('.form-group').hide();
                }
            }

            $(document).ready(function () {
                $('input').prop('readonly', 'true');
                $('textarea').prop('readonly', 'true');
                $('')
            });
        </script>
    }
