@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ApplicationDataVM

@{
    ViewBag.Title = "Print Application Data";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}

<div class="form-horizontal">
    <fieldset>
        <legend>Personal Details</legend>
        <div class="row">
            @Html.Partial("_PersonalDetails_Print", Model)
        </div>
        <legend>Contact Information</legend>
        <div class="row">
            @Html.Partial("_ContactInformationDetails_Print", Model)
        </div>
        <legend>Education</legend>
        <div class="row">
            @Html.Partial("_EducationDetails_Print", Model.EducationDetails)
        </div>
        <legend>Training</legend>
        <div class="row">
            @Html.Partial("_TrainingDetails_Print", Model.TrainingDetails)
        </div>
        <legend>Specialization</legend>
        <div class="row">
            @Html.Partial("_SpecializationDetails_Print", Model)
        </div>
        <legend>Working Experience</legend>
        <div class="row">
            @Html.Partial("_WorkingExperienceDetails_Print", Model)
        </div>
        <legend>Documents</legend>
        <div class="row">
            @Html.Partial("_DocumentDetails_Print", Model)
        </div>
    </fieldset>
</div>
