@using MCAWebAndAPI.Model.ViewModel.Form.Asset

@model AssetCheckResultApproveVM

<form class="form-horizontal" method="post" action="/ASSAssetCheckResultApprove/Create" id="create-asset-check-result-approve">
    <fieldset>
        <legend>Asset Check Result</legend>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.FormId).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Header.FormId)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.CountDate).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Header.CountDate)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.CountedBy1).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Header.CountedBy1)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.CountedBy2).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Header.CountedBy2)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.CountedBy3).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Header.CountedBy3)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @(Html.Kendo().Grid(Model.Items)
                    .Name("asset-check-result-approve-items-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.Item);
                        columns.Bound(p => p.AssetSubAsset);
                        columns.Bound(p => p.SerialNo);
                        columns.Bound(p => p.Province);
                        columns.Bound(p => p.Location);
                        columns.Bound(p => p.Status);
                        columns.Bound(p => p.Existense);
                        columns.Bound(p => p.Condition);
                        columns.Bound(p => p.Specifiation);
                        columns.Bound(p => p.SystemQty);
                        columns.Bound(p => p.PhysicalQty);
                        columns.Bound(p => p.DifferenceQty);
                        columns.Bound(p => p.Dispose);
                        columns.Bound(p => p.Remarks);
                    })
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Model(model => model.Id(p => p.Id))
                )
                )
            </div>
        </div>
        <div>
            <center>
                <input class="k-button k-button-icontext k-grid-add" type="button" onclick="approveCheckResult()" value="Approve" />
                <input class="k-button k-button-icontext k-grid-add" type="button" onclick="rejectCheckResult()" value="Reject" />
            </center>
        </div>
    </fieldset>

</form>

<script>
    function approveCheckResult() {
        // TO DO untuk memanggil Controller
    }

    function rejectCheckResult() {
        // TO DO untuk memanggil Controller
    }

</script>