@using MCAWebAndAPI.Model.ViewModel.Form.Finance
@model PettyCashPaymentVoucherVM
@{
    ViewBag.Title = "Print Petty Cash Payment Voucher";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}



<div class="form-horizontal">
    <div class="row" style="text-align: center; margin-top: 20px;">
        <div id="logo-group" class="row">
            <img src="~/img/logo.png" alt="MCA Indonesia" width="150">
        </div>
        <div class="row" style="margin-top:5px;font-weight:bold;">
            MCA Indonesia
        </div>
        <div class="row" style="margin-top:10px; font-weight:bold;">
            Petty Cash Payment Voucher
        </div>
    </div>
    <div class="row" style="text-align: center; margin-top: 5px;">
        <div class="row" style="margin-top:10px; font-weight:bold;">
            I. PETTY CASH ADVANCE
        </div>
    </div>
    <div class="row" style="text-align: left; margin-top: 20px; padding:25px;">
        <table width="100%">
            <tbody>
                <tr>
                    <td width="150px">Voucher No</td>
                    <td width="2px">:</td>
                    <td>@Model.VoucherNo</td>
                    <td width="150px">Date</td>
                    <td width="2px">:</td>
                    <td>@Model.Date.ToString("MM/dd/yyyy")</td>
                </tr>
                <tr>
                    <td width="150px">Paid To</td>
                    <td width="2px">:</td>
                    <td colspan="4">@Model.PaidTo.Value</td>
                </tr>
                <tr>
                    <td width="150px">Amount Paid</td>
                    <td width="2px">:</td>
                    <td colspan="4">@Model.AmountPaid</td>
                </tr>

                <tr>
                    <td width="150px">Amount in Words</td>
                    <td width="2px">:</td>
                    <td colspan="4">@Model.AmountPaidInWord</td>
                </tr>

                <tr>
                    <td width="150px">Reason of payment</td>
                    <td width="2px">:</td>
                    <td colspan="4">@Model.ReasonOfPayment</td>
                </tr>

                <tr>
                    <td width="150px">Fund</td>
                    <td width="2px">:</td>
                    <td colspan="4">@Model.Fund</td>
                </tr>
                <tr>
                    <td width="150px">WBS</td>
                    <td width="2px">:</td>
                    <td colspan="4">@Model.WBS.Text</td>
                </tr>

                <tr>
                    <td width="150px">GL</td>
                    <td width="2px">:</td>
                    <td colspan="4">@Model.GL.Text</td>
                </tr>
            </tbody>
        </table>
    </div>
   
    <div class="row" style="text-align: left; margin-top: 60px; padding:25px;">
        <table width="100%">
            <tbody>
                <tr>
                    <td width="30%">Prepared By</td>
                    <td width="30%">Approved By</td>
                    <td width="30%">Recipient</td>
                </tr>
                <tr>
                    <td width="30%" style="font-style:italic;">(Custodian)</td>
                    <td width="30%"style="font-style:italic;">(DED for Ops)</td>
                    <td width="30%"style="font-style:italic;">(Name)</td>
                </tr>
               
                <tr>
                    <td>
                        <div style="height:100px; border-bottom:1px solid black; width:150px;"></div>
                    </td>
                    <td>
                        <div style="height:100px; border-bottom:1px solid black; width:150px;"></div>
                    </td>
                    <td>
                        <div style="height:100px; border-bottom:1px solid black; width:150px;"></div>
                    </td>
                </tr>
                <tr>
                    <td>Date:</td>
                    <td>Date:</td>
                    <td>Date:</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
