@using MCAWebAndAPI.Model.ViewModel.Form.Asset

@model LocationMasterVM

@using (Ajax.BeginForm((string)ViewBag.Action, "ASSLocationMaster",
                                                                            FormMethod.Post,
                                                                            new AjaxOptions
                                                                            {
                                                                                OnBegin = "onBeginForm",
                                                                                OnComplete = "onCompleteForm",
                                                                                OnSuccess = "onSuccessFormEmbed",
                                                                                OnFailure = "onFailureForm"
                                                                            }, new { @class = "form-horizontal" }))
{<fieldset>
        <legend>Form Location Master</legend>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="col-sm-12">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Province).Class("col-sm-4 control-label")
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.Province)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.OfficeName).Class("col-sm-4 control-label")
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.OfficeName)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.FloorName).Class("col-sm-4 control-label")
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.FloorName)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.RoomName).Class("col-sm-4 control-label")
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.RoomName)
                </div>
            </div>
        </div>
    </fieldset>
}

<div class="form-actions">
    <div class="row">
        <div class="col-sm-12">
            <button id="submit-button" class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Submit
            </button>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#submit-button").click(function () {
                $("form").submit();
            });
        });
    </script>
}