
@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model CompensatoryVM

@{
    ViewBag.Title = "ShortlistData";
}

@using (Html.BeginForm("UpdateShortlistData", "HRShortlist", FormMethod.Post, new
{
    @class = "form-horizontal",
    enctype = "multipart/form-data"
}))
{
    <fieldset>
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.cmpTitle)
        @Html.HiddenFor(m => m.Requestor)

        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.cmpYearDate).Class("col-md-2 control-label")
                <div class="col-md-3">
                    @Html.EditorFor(m => m.cmpYearDate)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.cmpTitle).Class("col-md-2 control-label")
                <div class="col-md-3">
                    <input id="com-title" class="form-control" value="" />
                </div>
            </div>
        </div>
        <legend>Compensatory list</legend>
        <div class="row">
            @if (Model.Requestor == null)
            {
                @Html.Partial("_CompensatoryDetailsHR", Model.CompensatoryDetails)
            }
            else
            {
                @Html.Partial("_CompensatoryDetails", Model.CompensatoryDetails)

            }
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button id="print-button" class="btn btn-primary" type="button">
                    <i class="fa fa-print"></i>
                    Print
                </button>
            </div>
        </div>

    </fieldset>
}

@section scripts{

    <script>
        
        $(document).ready(function () {
            debugger;
            $("#com-title").prop('readonly', 'true');
            $("#com-title").prop("value", $("#cmpTitle").val());

            $('#print-button').click(function (e) {
                $("#ParentDiv").show();
                var url = "/HRCompensatory/PrintCompensatoryRequest";
                submitFormToPrint(url);
            });

        });
    </script>
}





