
@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model CompensatoryVM

@{
    ViewBag.Title = "CompensatorylistData";
}
<style>p { margin: 20px 0 0 0;}
</style>
    <legend>Compensatory list</legend>
    @foreach (var comp in Model.CompensatorytoList)
    {
    <fieldset>
        @Html.HiddenFor(m => comp.CmpID)
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.CmpYearDate).Class("col-md-2 control-label")
                <div class="col-md-3">
                    @Html.EditorFor(m => comp.CmpYearDate)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => comp.CmpName).Class("col-md-2 control-label")
                <div class="col-md-3">
                    @Html.EditorFor(m => comp.CmpName)
                </div>
            </div>
        </div>
       
        <div class="row">
            @Html.Partial("_CompensantoryDetails", comp.listCompensatoryDetails)
        </div>
        
    </fieldset>
}

@section scripts{

    <script>

        $(document).ready(function () {
        //    $("#vac-position").prop('readonly', 'true');
        //    var positionID = $("#Position").val();

        //    var url = "/HRDataMaster/GetPosition/" + positionID;
        //    $.getJSON(url, function (data) {
        //        $("#vac-position").prop("value", data.PositionName);
        //    })

        //    var dropdownlist = $("#ActivePosition_Value").data("kendoDropDownList");
        //    dropdownlist.select(positionID);

        });
    </script>
}




