
@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model CompensatoryVM

@{
    ViewBag.Title = "ShortlistData";
}

@using (Html.BeginForm("UpdateShortlistData", "HRShortlist", FormMethod.Post, new
{
    @class = "form-horizontal",
    enctype = "multipart/form-data"
}))
{
    <fieldset>
        @Html.HiddenFor(m => m.ID)
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.cmpYearDate).Class("col-md-2 control-label")
                <div class="col-md-3">
                    @Html.EditorFor(m => m.cmpYearDate)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.cmpName).Class("col-md-2 control-label")
                <div class="col-md-3">
                    <input id="vac-position" class="form-control" value="" />
                </div>
            </div>
        </div>
        <legend>Compensatory list</legend>
        <div class="row">
            @Html.Partial("_CompensantoryDetails", Model.CompensatoryDetails)
        </div>

    </fieldset>
}

@section scripts{

    <script>
        
        $(document).ready(function () {
            $("#vac-position").prop('readonly', 'true');
            var positionID = $("#Position").val();

            var url = "/HRDataMaster/GetPosition/" + positionID;
            $.getJSON(url, function (data) {
                $("#vac-position").prop("value", data.PositionName);
            })

            var dropdownlist = $("#ActivePosition_Value").data("kendoDropDownList");
            dropdownlist.select(positionID);

        });
    </script>
}





