
@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model CompensatoryVM

@{
    ViewBag.Title = "ShortlistData";
}

@using (Html.BeginForm("UpdateShortlistData", "HRShortlist", FormMethod.Post, new
{
    @class = "form-horizontal",
    enctype = "multipart/form-data"
}))
{
    <fieldset>
        @Html.HiddenFor(m => m.cmpID)
        @Html.HiddenFor(m => m.cmpName)
        @Html.HiddenFor(m => m.cmpPosition)
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.ddlProfessional).Class("col-md-2 control-label")
                <div class="col-md-3">
                    @Html.EditorFor(m => m.ddlProfessional)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.cmpProjUnit).Class("col-md-2 control-label")
                <div class="col-md-3">
                    @Html.EditorFor(m => m.cmpProjUnit)
                </div>
            </div>
        </div>
        <legend>Compensatory list</legend>
        <div class="row">
            @Html.Partial("_CompensatoryDetails", Model.CompensatoryDetails)
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button id="print-button" class="btn btn-primary" type="button">
                    <i class="fa fa-print"></i>
                    Print
                </button>
            </div>
        </div>
    </fieldset>
}

@section scripts{

    <script>

        function OnChangeProfessional(e) {
            var dataItem = this.dataItem(e.item);
            if (dataItem.ID != 0) {
                window.location = "/HRCompensatory/CompensatorylistHR?siteurl=&iD=" + dataItem.ID + "";
            }
        };

        $(document).ready(function () {
            $("#vac-position").prop('readonly', 'true');
            var positionID = $("#Position").val();

            var url = "/HRDataMaster/GetPosition/" + positionID;
            $.getJSON(url, function (data) {
                $("#vac-position").prop("value", data.PositionName);
            })

            var dropdownlist = $("#ActivePosition_Value").data("kendoDropDownList");
            dropdownlist.select(positionID);

            $('#print-button').click(function (e) {
                $("#ParentDiv").show();
                var url = "/HRCompensatory/PrintCompensatoryRequest";
                submitFormToPrint(url);
            });

        });
    </script>
}





