
@using MCAWebAndAPI.Model.ViewModel.Form.HR
@using MCAWebAndAPI.Web.Helpers

@model CompensatoryVM

@{
    ViewBag.Title = "Input Compensatory HR";
}

@using (Html.BeginForm("CreateCompensatoryData", "HRCompensatory", FormMethod.Post, new AjaxOptions
{
    OnBegin = "onBeginForm",
    OnComplete = "onCompleteForm",
    OnSuccess = "onSuccessFormEmbed",
    OnFailure = "onFailureForm"

}))
{
    <fieldset>
        @Html.HiddenFor(m => m.cmpID)
        @Html.HiddenFor(m => m.cmpName)
        @Html.HiddenFor(m => m.cmpEmail)
        @Html.HiddenFor(m => m.cmpTitle)
        @Html.HiddenFor(m => m.cmpPosition)
        @Html.HiddenFor(m => m.cmpYearDate)

        <input type="hidden" id="loadpage" value="0">

        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.ddlProfessional).Class("col-xs-2 control-label")
                <div class="col-xs-4">
                    @Html.EditorFor(m => m.ddlProfessional)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.cmpProjUnit).Class("col-xs-2 control-label")
                <div class="col-xs-3">
                    @Html.EditorFor(m => m.cmpProjUnit)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.ddlCompensatoryID).Class("col-xs-2 control-label")
                <div class="col-xs-3">
                    @Html.EditorFor(m => m.ddlCompensatoryID)
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group" id="ParentDiv">
                <div class="col-sm-8">
                    @Html.DisplayFor(m => m.StatusForm)
                </div>
            </div>
        </div>
        <legend>Compensatory list</legend>
        <div id="compensatorylist" class="row"></div>
       
        <button id="submithr-button" class="btn btn-primary" type="submit">
            <i class="fa fa-save"></i>
            Submit
        </button>

    </fieldset>
}

    <div class="row pull-right">
        <div class="col-sm-12">
            <button id="submit-draft-initiate-button" class="btn btn-primary" type="submit">
                <i class="fa fa-clipboard"></i>
                Save As Draft
            </button>
            <button id="cancel-button" class="btn btn-primary">
                <i class="fa fa-ban"></i>
                Cancel
            </button>
            </div>
        </div>

            <legend>Approval Path</legend>
            <div id="workflow-placeholder" class="row"></div>

                <div class="row">
                    <div class="col-sm-12">
                        <button id="print-button" class="btn btn-primary" type="button">
                            <i class="fa fa-print"></i>
                            Print
                        </button>
                    </div>
                </div>

    <div class="row pull-right">
        <div class="col-sm-12">

            <button id="approve-button" class="btn btn-success" type="submit">
                <i class="fa fa-thumbs-o-up"></i>
                Approve
            </button>
                      
            <button id="reject-button" class="btn btn-danger" type="submit">
                <i class="fa fa-thumbs-o-down"></i>
                Reject
            </button>
        </div>
    </div>

            @section scripts{

                <script>
                    $(document).ready(function () {
                        showLoading();
                        var nameProf = $("#cmpName").val() + " - " + $("#cmpPosition").val()
                        $("#ProfName").prop("value", nameProf);
                        $("#ProfName").prop('readonly', 'true');

                        var eMail = $("#cmpEmail").val();

                        if (eMail != null) {
                            displayWorkflowRouter("workflow-placeholder", "@ViewBag.ListName", eMail);
                        }

                        var url = "/HRCompensatory/GetCompensatoryDetails?idComp=" + $("#cmpID").val();

                        $('#compensatorylist').load(url, function (response, status, xhr) {
                            if (status == "success") {
                                hideLoading();
                            }
                        });

                        var CompStatus = $("#StatusForm").val();

                        if (CompStatus == 'Approved') {
                            $('#submithr-button').addClass('hide');
                            $('#print-button').removeClass('hide');
                            $('#approve-button').addClass('hide');
                            $('#reject-button').addClass('hide');
                            $('#cancel-button').addClass('hide');
                            $('#unapprove-button').removeClass('hide');
                            $('#submit-draft-initiate-button').addClass('hide');
                        }

                        if (CompStatus == 'Pending Approval 1 of 2' || CompStatus == 'Pending Approval 2 of 2' || CompStatus == 'Draft') {
                            $('#print-button').addClass('hide');
                            $('#unapprove-button').addClass('hide');
                            $('#approve-button').removeClass('hide')
                            $('#reject-button').removeClass('hide')
                            $('#submithr-button').removeClass('hide');
                            $('#cancel-button').removeClass('hide');
                            $('#submit-draft-initiate-button').removeClass('hide');
                        }

                        $("#cancel-button").click(function () {
                            
                            showLoading();
                            var url = "/HRCompensatory/GetCompensatoryDetails?idComp=" + $("#cmpID").val();

                            $('#compensatorylist').load(url, function (response, status, xhr) {
                                if (status == "success") {
                                    hideLoading();
                                }
                            });
                        });
                         
                        $("#submithr-button").click(function () {
                            $("#StatusForm").val("submithr")
                            $("form").submit();
                        });

                        $("#submitonly-button").click(function () {
                            $("#StatusForm").prop("value", "submit");
                            $("form").submit();
                        });

                        $("#approve-button").click(function () {
                            $("form").submit();
                        });

                        $("#submit-draft-button").click(function () {
                            $("#StatusForm").val("Draft")
                            $("form").submit();
                        });

                        $('#reject-button').click(function (e) {
                            $("#StatusForm").val("Reject")
                            $("form").submit();
                        });

                        $("#unapprove-button").click(function () {
                            $("#StatusForm").val("Unapprove")
                            $("form").submit();
                        });

                        $('#print-button').click(function (e) {
                            $("#ParentDiv").show();
                            var url = "/HRCompensatory/PrintCompensatoryRequest";
                            submitFormToPrint(url);
                        });

                    });

                    function filterLevel() {
                        return {
                            idProf: $('#ddlProfessional_Value').data("kendoDropDownList").dataItem($('#ddlProfessional_Value').data("kendoDropDownList").select()).ID
                        };
                    }

                    function OnChangeCompensatory(e) {
                        var dataItem = this.dataItem(e.item);
                        var idComp = null;
                        var CompStatus = null;

                        if (dataItem != null) {
                            idComp = dataItem.ID;
                            CompStatus = dataItem.CompensatoryStatus;
                        }
                            $("#StatusForm").prop("value", CompStatus);
                            
                            if (CompStatus == 'Approved') {
                                $('#submithr-button').addClass('hide');
                                $('#print-button').removeClass('hide');
                                $('#approve-button').addClass('hide');
                                $('#reject-button').addClass('hide');
                                $('#cancel-button').addClass('hide');
                                $('#unapprove-button').removeClass('hide');
                                $('#submit-draft-initiate-button').addClass('hide');
                            }

                            if (CompStatus == 'Pending Approval 1 of 2' || CompStatus == 'Pending Approval 2 of 2' || CompStatus == 'Draft')
                            {
                                $('#print-button').addClass('hide');
                                $('#unapprove-button').addClass('hide');
                                $('#approve-button').removeClass('hide')
                                $('#reject-button').removeClass('hide')
                                $('#submithr-button').removeClass('hide');
                                $('#cancel-button').removeClass('hide');
                                $('#submit-draft-initiate-button').removeClass('hide');
                            }

                            if (CompStatus == 'Draft') {
                                $('#approve-button').addClass('hide');
                                $('#reject-button').addClass('hide');
                            }

                            var url = "/HRCompensatory/GetCompensatoryDetails?idComp=" + $("#cmpID").val();

                            $('#compensatorylist').load(url, function (response, status, xhr) {
                                if (status == "success") {
                                }
                            });

                            $("#cmpID").prop("value", idComp);
                            hideLoading();
                    };

                    function OnChangeProffesional(e) {
                        var dataItem = this.dataItem(e.item);
                        var eMail = dataItem.OfficeEmail

                        if (eMail != null) {
                            displayWorkflowRouter("workflow-placeholder", "@ViewBag.ListName", eMail);
                        }
                    };

                    function getDayName(date) {
                        var day = new Array();
                        day[0] = "Monday";
                        day[1] = "Tuesday";
                        day[2] = "Wednesday";
                        day[3] = "Thursday";
                        day[4] = "Friday";
                        day[5] = "Saturday";
                        day[6] = "Sunday";

                        if (date != null) {
                            return day[date.getDay()];

                        };
                    }

                    function onChange(e) {
                        var container = e.container;
                        if (e.action === "itemchange") {
                            var model = e.items[0];

                            if (model.StartTime != null && model.FinishTime != null) {
                                var start = model.StartTime.getHours();
                                var finish = model.FinishTime.getHours();
                                var finishsec = model.FinishTime.getSeconds();
                                var range;
                                var rowgrid = $("#CompensatoryDetails").data("kendoGrid").tbody.find("tr");
                                var i = -1
                                var j = -1
                                rowgrid.each(function (e) {
                                    i++;
                                    var xdate = $("#Dateid" + i).val();
                                    rowgrid.each(function (e) {
                                        j++;
                                        var ydate = $("#Dateid" + j).val();
                                        if (i !== j) {
                                            if (xdate == ydate) {
                                                alert("Date you have chosen already exists, please choose another date..!!")
                                            }
                                        }
                                    });
                                });

                                if ((finish + finishsec) <= start) {
                                    alert("FinishTime can not be smaller than the starttime..!!")
                                }

                                if (start < finish) {
                                    range = finish - start

                                    if (model.CmpTotalHours != range) {
                                        model.set("CmpTotalHours", range);
                                    }

                                    if (range >= 4) {
                                        totday = 1
                                    } else {
                                        totday = 0.5
                                    }

                                    if (model.TotalDay != totday) {
                                        model.set("TotalDay", totday);
                                    }
                                }
                            }
                        }
                    }

                    function onDataBoundDependentDetails(e) {
                        var grid = $("#CompensatoryDetails").data("kendoGrid");
                        hideDeletedRowKendoDetail(grid);
                    }

                    function GetDetailComplist(dataItem) {
                        var data = $("#CompensatoryDetails").data("kendoGrid").dataSource.data();
                        return data.indexOf(dataItem);
                    }

                </script>
            }





