
@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model CompensatoryVM

@{
    ViewBag.Title = "InputCompensatoryData";
}

@using (Html.BeginForm("CreateCompensatoryData", "HRCompensatory", FormMethod.Post, new
{
    @class = "form-horizontal",
    enctype = "multipart/form-data"
}))
{
    <div class="form-actions">
        <fieldset>
            @Html.HiddenFor(m => m.cmpID)
            @Html.HiddenFor(m => m.cmpName)
            @Html.HiddenFor(m => m.cmpPosition)
            <div class="row">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.cmpName).Class("col-md-2 control-label")
                    <div class="col-md-3">
                        <input class="k-textbox form-control" id="NamePos" style="width:100%;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.cmpProjUnit).Class("col-md-2 control-label")
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.cmpProjUnit)
                    </div>
                </div>
            </div>
            <legend>Compensatory list</legend>
            <div class="row">
                @Html.Partial("_InputCompensantoryDetails", Model.CompensatoryDetails)
            </div>

        </fieldset>
        <div class="row">
            <div class="col-sm-8">
                <button id="submit-button" class="btn btn-primary" type="submit" onclick="onValidateKendoDetail">
                    <i class="fa fa-save"></i>
                    save
                </button>
            </div>
        </div>
    </div>
}

@section scripts{

    <script>
       
        $(document).ready(function () {
            //var positionID = $("#CmpName").val() +" - "+ $("#CmpPosition").val();
            //$("#NamePos").prop("value", positionID);
            //$("#EditMode").prop("value", "2");
        });

        function onValidateKendoDetail(e) {
            var i = -1
            var j = -1
            rowgrid.each(function (e) {
                i++;
                var xdate = $("#Dateid" + i).val();
                rowgrid.each(function (e) {
                    j++;
                    var ydate = $("#Dateid" + i).val();
                    if (i !== j) {
                        debugger;
                        if (xdate == ydate) {
                            alert("date you have chosen already exists")
                        }
                    }
                });

                if (data.CmpDate == xdate)
                    debugger;
            });
        }

        function getDayName(date) {
            var day = new Array();
            day[0] = "Monday";
            day[1] = "Tuesday";
            day[2] = "Wednesday";
            day[3] = "Thursday";
            day[4] = "Friday";
            day[5] = "Saturday";
            day[6] = "Sunday";

            if(date != null)
            {
                return day[date.getDay()];
            };
        }
    </script>
}





