
@using MCAWebAndAPI.Model.ViewModel.Form.HR
@using MCAWebAndAPI.Web.Helpers

@model CompensatoryVM

@{
    ViewBag.Title = "InputCompensatoryData";
}

@using (Html.BeginForm("CreateCompensatoryData", "HRCompensatory", FormMethod.Post, new
{
    @class = "form-horizontal",
    enctype = "multipart/form-data"
})){
        <fieldset>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.cmpID)
            @Html.HiddenFor(m => m.cmpName)
            @Html.HiddenFor(m => m.cmpPosition)
            <input type="hidden" id="loadpage" value="0">
            <div class="row">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.cmpName).Class("col-xs-2 control-label")
                    <div class="col-xs-3">
                        <input class="k-textbox form-control" id="NamePos" style="width:100%;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.cmpProjUnit).Class("col-xs-2 control-label")
                    <div class="col-xs-3">
                        @Html.EditorFor(m => m.cmpProjUnit)
                    </div>
                </div>
            </div>

            @if (Model.cmpEmail != null)
            {
                <legend>Approval Workflow</legend>
                <div id="workflow-placeholder" class="row" />
            }

            <legend>Compensatory list</legend>
            <div class="row">
                @Html.Partial("_InputCompensantoryDetails", Model.CompensatoryDetails)
            </div>
            <div class="col-sm-12">

                <div class="form-group" id="ParentDiv">
                    <div class="col-sm-8">
                        @Html.DisplayFor(m => m.StatusForm)
                    </div>
                </div>
            </div>

           

</fieldset>
}

@if (Model.StatusForm != "")
{
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Submit For Approval
                </button>
                <button id="submit-draft-initiate-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Save As Draft
                </button>
            </div>
        </div>
    </div>
}


@if (Model.StatusForm == "Pending Approval 1 of 2")
{
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Approve
                </button>
                <button id="reject1-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Reject
                </button>
            </div>
        </div>
    </div>
}
@if (Model.StatusForm == "Approved")
{
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
                <button id="print-button" class="btn btn-primary" type="button">
                    Print
                </button>
            </div>
        </div>
    </div>
}
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            debugger;

            $("#submit-button").click(function () {
                $("form").submit();
            });


            var Requestor = '@(SessionManager.Get<string>("RequestorUserLogin"))';
            if (Requestor != null) {
                displayWorkflowRouter("workflow-placeholder", "@ViewBag.ListName", Requestor);
            }
        });

        function getDayName(date) {
            var day = new Array();
            day[0] = "Monday";
            day[1] = "Tuesday";
            day[2] = "Wednesday";
            day[3] = "Thursday";
            day[4] = "Friday";
            day[5] = "Saturday";
            day[6] = "Sunday";

            if(date != null)
            {
                return day[date.getDay()];
            };
        }
    </script>
}





