@using MCAWebAndAPI.Model.ViewModel.Form.HR
@using MCAWebAndAPI.Web.Helpers

@model CompensatoryVM

@{
    ViewBag.Title = "Input Compensatory HR";
}

@using (Html.BeginForm("CreateHeaderCompensatory", "HRCompensatory", FormMethod.Post, new AjaxOptions
{
    OnBegin = "onBeginForm",
    OnComplete = "onCompleteForm",
    OnSuccess = "onSuccessFormEmbed",
    OnFailure = "onFailureForm"

}))
{
    <fieldset>
        <input type="hidden" id="loadpage" value="0">

        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.ddlProfessional).Class("col-xs-2 control-label")
                <div class="col-xs-4">
                    @Html.EditorFor(m => m.ddlProfessional)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.cmpName).Class("col-xs-2 control-label")
                <div class="col-xs-4">
                    @Html.EditorFor(m => m.cmpName)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.cmpTitle).Class("col-xs-2 control-label")
                <div class="col-xs-3">
                    @Html.EditorFor(m => m.cmpTitle)
                </div>
            </div>
        </div>

        <button id="submit-button" class="btn btn-primary" type="submit">
            <i class="fa fa-save"></i>
            Submit
        </button>

    </fieldset>
}

@section scripts{
<script>
    function OnChangeProffesional(e) {
        var dataItem = this.dataItem(e.item);
        var eMail = dataItem.OfficeEmail

    };
</script>
}