@using System.Data
@using MCAWebAndAPI.Model.ViewModel.Form.Common
@using MCAWebAndAPI.Model.ViewModel.Form.HR
@using System.Collections.Generic

@model FeeSlipVM

@{
    ViewBag.Title = "Print Fee Slip";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}


<div class="form-horizontal">
    @{
        var iNo = 0;
    }
    @foreach (var item in Model.FeeSlipDetails)
    {
        iNo++;
        <div id="wrapper">
            <div style="text-align: left; margin-top: 20px;" id="content">
                <div id="logo-group">
                    <img src="{XIMGPATHX}" alt="MCA Indonesia" width="150">
                </div>
                <div style="margin-top: 5px; font-weight: bold; font-size: 12px">
                    Millennium Challenge Account - Indonesia
                </div>
                <div style="margin-top: 5px; font-weight: bold; font-size: 10px">
                    Reducing Poverty through Economic Growth
                </div>
                <div style="margin-top: 30px; font-size: 10px">
                    <table  style="width: 55%">
                        <tr>
                            <td> Slip # / Professional #</td><td>:&nbsp;</td><td>@iNo / @item.ProfessionalID</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>:&nbsp;</td>
                            <td>@item.Name</td>
                        </tr>
                        <tr>
                            <td>Joining Date / Designation</td>
                            <td>:&nbsp;</td>
                            <td>@item.JoiningDate / @item.Position</td>
                        </tr>
                        <tr>
                            <td>Payment Mode</td>
                            <td>:&nbsp;</td>
                            <td></td>
                        </tr>
                    </table>
  
</div>
                <div style="margin-top: 30px; font-size: 10px">
                    &nbsp;
                </div>
            </div>

            <div id="sidebar" style="text-align: left; margin-top: 20px;">
                <div style="margin-top: 5px; font-weight: bold; font-size: 10px">
                    Strictly Confidential
                </div>
                <div style="margin-top: 10px; font-size: 8px">
                    For internal use
                </div>
                <div style="margin-top: 20px; font-size: 15px; color: forestgreen">
                    Millennium Challenge Account - Indonesia
                </div>
                <div style="margin-top: 20px; font-size: 10px;">
                    MR21 Building, 11th Floor<br />
                    Jl. Menteng Raya no. 21, Jakarta 10340, Indonesia<br />
                    T: +62 21 3983 1971 (central)<br />
                    F: +62 21 3983 1970 | www.mca-indonesia.go.id
                </div>
            </div>
        </div>
        <br /><br />
        <div class="wrp">&nbsp;</div>
        <div style="margin-top: 20px;" class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <tr class="tdCenterNoBorderLeftRightGreen">
                        <td colspan="12" class="tdCenterNoBorderLeftRightGreen">DETAILED INFORMATION</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="tdCenterNoBorderLeftRightGreen">FEE</td>
                        <td class="tdCenterNoBorder"></td>
                        <td colspan="5" class="tdCenterNoBorderLeftRightGreen">DEDUCTION</td>
                    </tr>
                    @for (int i = 1; i <= 7; i++)
                {
                        <tr>
                            <td colspan="6" class="tdLeftNoBorderLeftRightWhiteDotted">@i.ToString()</td>
                            <td class="tdCenterNoBorder"></td>
                            <td colspan="5" class="tdLeftNoBorderLeftRightWhiteDotted">DEDUCTION</td>
                        </tr>
                    }
                    @for (int i = 1; i <= 5; i++)
                {
                        <tr>
                            <td colspan="6" class="tdCenterNoBorder"></td>
                            <td class="tdCenterNoBorder"></td>
                            <td colspan="5" class="tdCenterNoBorder"></td>
                        </tr>
                    }
                    <tr>
                        <td colspan="6" style="border-right: solid white; border-left: solid white;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 border-top: solid white; border-bottom: double black; background-color: white;"></td>
                        <td class="tdCenterNoBorder"></td>
                        <td colspan="5" class="tdCenterNoBorder"></td>
                    </tr>

                    <tr>
                        <td colspan="6" class="tdCenterNoBorderLeftRightGreenDouble"></td>
                        <td class="tdCenterNoBorder"></td>
                        <td colspan="5" class="tdCenterNoBorder"></td>
                    </tr>
                    <tr>
                        <td colspan="6" class="tdLeftNoBorder">Note :</td>
                        <td class="tdLeftNoBorder"></td>
                        <td colspan="5" class="tdCenterNoBorder">Jakarta, 24 February 2016</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="tdLeftNoBorder">
                            Please inform the HR Unit - hrd@mca-indonesia.go.id - within <br />
                            a week if there is a mistake in this document.<br />
                            .. If there is no inquiry submitted by staff within a week of receiving the document,<br />
                            she/he is considered accepting & in agreement with the above statements in this document.<br />
                            ... No signature required and printed copy is considered as original.
                        </td>
                        <td class="tdLeftNoBorder"></td>
                        <td colspan="5" class="tdCenterNoBorder"><br /><br /><br /><br /><br />Human Resources Unit</td>
                    </tr>

                    @*<tr>
                            <td colspan="7" class="tdLeftNoBorder">.. If there is no inquiry submitted by staff within a week of receiving the document,<br/>
                            she/he is considered accepting & in agreement with the above statements in this document.</td>
                            <td class="tdLeftNoBorder"></td>
                            <td colspan="4" class="tdLeftNoBorder"></td>
                        </tr>
                        <tr>
                            <td colspan="7" class="tdLeftNoBorder">... No signature required and printed copy is considered as original.</td>
                            <td class="tdLeftNoBorder"></td>
                            <td colspan="4" class="tdCenterNoBorder">Human Resources Unit</td>
                        </tr>
                        '*@
                </table>
            </div>

        </div>

        <div style="background-color: lightgreen; color: white; text-align: right; margin-top: 20px;" width 100%;>
            info@mca-indonesia.go.id | www.mca-indonesia.go.id
        </div>

    }

  


</div>






<style type="text/css">

     .tdCenterNoBorderLeftRightGreenDouble {
   border-right:  solid white;
   border-left: solid white;
   border-top:  double black;
   border-bottom:  double black;
   padding: 5px 15px;text-align: center;vertical-align: bottom;background-color: lightgreen;
   vertical-align: text-bottom;font-size: 10px;color: black;
}

    .tdCenterNoBorderLeftRightGreen {
   border-right: 1px solid white;
   border-left: 1px solid white;
   border-top: 2px solid black;
   border-bottom: 2px solid black;
   padding: 5px 15px;text-align: center;vertical-align: bottom;background-color: lightgreen;
   vertical-align: text-bottom;font-size: 10px;color: black;
}

      .tdLeftNoBorderLeftRightWhiteDotted {
   border-right: 1px solid white;
   border-left: 1px solid white;
   border-top: 2px dotted black;
   border-bottom: 2px dotted black;
   padding: 5px 15px;text-align: left;vertical-align: bottom;background-color: white;
   vertical-align: text-bottom;font-size: 10px;color: black;
}


     .tdCenterNoBorder {
   border-right: 1px solid white;
   border-left: 1px solid white;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
   padding: 5px 15px;text-align: center;vertical-align: bottom;background-color: white;
   vertical-align: text-bottom;font-size: 10px;color: black;
}

      .tdLeftNoBorder {
   border-right: 1px solid white;
   border-left: 1px solid white;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
   padding: 5px 15px;text-align: left;vertical-align: bottom;background-color: white;
   vertical-align: text-bottom;font-size: 10px;color: black;
}

     .wrp {
        width: 100%;
        text-align: center;
        font-size: 150%;
        font-family: Arial;
         font-weight: bold;
    }

    #wrapper {
  /*margin-right: 200px;*/
}
#content {
  float: left;
  width: 65%;
  background-color:white;
}
#sidebar {
  float: right;
  width: 35%;
  /*margin-right: -200px;*/
  background-color: white;
}


</style>



