@using MCAWebAndAPI.Model.ViewModel.Form.HR

@model PerformanceEvaluationVM

@{
    ViewBag.Title = "Form Create Performance Evaluation";



}

@using (Ajax.BeginForm("PerformanceEvaluation", "HRPerformanceEvaluation",
                                                                            FormMethod.Post,
                                                                            new AjaxOptions
                                                                            {
                                                                                OnBegin = "onBeginForm",
                                                                                OnComplete = "onCompleteForm",
                                                                                OnSuccess = "onSuccessFormEmbed",
                                                                                OnFailure = "onFailureForm"
                                                                            }, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Performance Evaluation</legend>
        <div class="row">
            @Html.HiddenFor(x => x.ID)
            @Html.Partial("_PerformancePlanEvaluation", Model)
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-12">
                    @if (Model.ID == null)
                    {
                        <button id="initiate" class="btn btn-primary" type="submit">
                            <i class="fa fa-save"></i>
                            Initiate Evaluation Process
                        </button>
                        <button id="close" class="btn btn-primary" type="submit" disabled>
                            <i class="fa fa-save"></i>
                            Close Evaluation Process
                        </button>
                    }
                    else
                    {
                        <button id="initiate" class="btn btn-primary" type="submit" disabled>
                            <i class="fa fa-save"></i>
                            Initiate Evaluation Process
                        </button>
                        if (Model.PerformanceEvaluationDetails.All(x => x.EvaluationStatus == "green") && (Model.Status == "Open") && (Model.PerformanceEvaluationDetails.All(x => x.EvaluationStatus == "Approved")))
                        {
                            <button id="close" class="btn btn-primary" type="submit">
                                <i class="fa fa-save"></i>
                                Close Evaluation Process
                            </button>
                        }
                        else
                        {
                            <button id="close" class="btn btn-primary" type="submit" disabled>
                                <i class="fa fa-save"></i>
                                Close Evaluation Process
                            </button>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.IntiationDate).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.IntiationDate)
                </div>
            </div>
        </div>
        <legend></legend>
        <div class="row">
            @Html.Partial("_Detail", Model.PerformanceEvaluationDetails)
        </div>
    </fieldset>

}

@section scripts{
    <script type="text/javascript">


        $(document).ready(function () {
            $("#submit-button").click(function () {
                $("form").submit();
            });

        });

        function OnSelectPosition(e) {
            var dataItem = this.dataItem(e.item);
            var urlKeyPosition = "/HRDataMaster/GetKeyPosition/" + dataItem.ID;

            $.getJSON(urlKeyPosition, function (result) {

                if (result[0].isKeyPosition == "Yes") {
                    $('#KeyPosition').prop('value', "You must upload file with the file name format: MCC-PSA-MMDDYYYY");
                    $('#DocumentType').prop('value', "MCC No Objection Letter");
                    $('#KeyPositionValue').prop('value', "Yes");

                }
                else {
                    $('#KeyPosition').prop('value', "You must upload file with the file name format: PSA-MMDDYYYY");
                    $('#DocumentType').prop('value', "MCC No Objection Letter");
                    $('#KeyPositionValue').prop('value', "No");
                }
            })


        }





    </script>
}
