<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Scripts.Render("~/bundles/modernizr")
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/bi")
</head>

<body>

    <div id="main" role="main">
        @RenderBody()
    </div>

    <script src="https://cdn.kendostatic.com/2016.1.412/js/jquery.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
