<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Scripts.Render("~/bundles/modernizr")

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- Basic CSS Frameworks -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- Kendo Frameworks-->
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.1.112/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.1.112/styles/kendo.metro.min.css" />

    <link href="http://cdn.kendostatic.com/2016.1.412/styles/kendo.common-fiori.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2016.1.412/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2016.1.412/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2016.1.412/styles/kendo.fiori.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2016.1.412/styles/kendo.dataviz.fiori.min.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.kendostatic.com/2016.1.412/js/jquery.min.js"></script>
    <script src="http://cdn.kendostatic.com/2016.1.412/js/jszip.min.js"></script>
    <script src="http://cdn.kendostatic.com/2016.1.412/js/kendo.all.min.js"></script>
    <script src="http://cdn.kendostatic.com/2016.1.412/js/kendo.aspnetmvc.min.js"></script>
    
    <!-- Basic JS Libraries -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
        //<![CDATA[//]]>
    </script>

    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

</head>
<body>

    <div id="main-content">

        @RenderBody()

        <!-- MAIN CONTENT ENDS HERE-->
    </div>


    @Scripts.Render("~/bundles/apps")
    @RenderSection("scripts", required: false)
</body>
</html>
