@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ApplicationDataVM


<div class="col-sm-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.FirstMiddleName).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.FirstMiddleName)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.LastName).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.LastName)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.PlaceOfBirth).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.PlaceOfBirth)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.DateOfBirth).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.DateOfBirth)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.MaritalStatus).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.MaritalStatus)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.BloodType).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.BloodType)
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Gender).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.Gender)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Nationality).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.Nationality)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Religion).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.Religion)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.IDCardType).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.IDCardType)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.IDCardNumber).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.IDCardNumber)
        </div>
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.IDCardExpiry).Class("col-sm-4 control-label")
        <div class="col-sm-8">
            @Html.EditorFor(m => m.IDCardExpiry)
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var dropDownValue = $("#IDCardType_Value").val();
        togleIDCardExpiry(dropDownValue);
    });

    function togleIDCardExpiry(idCardType) {
        if (idCardType == "KTP") {
            $('#IDCardExpiry').closest('.form-group').hide();
        }
    }

    function onSelectIDCardType(e) {
        var dataItem = this.dataItem(e.item);
        if (dataItem !== "KTP") {
            $('#IDCardExpiry').closest('.form-group').show();
        } else {
            $('#IDCardExpiry').closest('.form-group').hide();
        }
    }

    function setIDCardTypeToKTP(e) {
        var dataItem = this.dataItem(e.item);
        if (dataItem.Text == "Indonesia") {
            $('#IDCardExpiry').prop("value", "KTP");
            togleIDCardExpiry("KTP");
            $('#IDCardExpiry').prop("readonly", "true");
        } else {
            $('#IDCardExpiry').prop("readonly", null);
        }
    }
</script>