@using MCAWebAndAPI.Model.ViewModel.Form.Asset

@model AssetMasterVM

<form class="form-horizontal" method="post" action="/ASSAssetMaster/Submit" id="create-asset-master-form">
    <fieldset>
        <legend>Form Asset Master</legend>
        <div class="col-md-12">
            <div class="form-group" >
                @Html.Bootstrap().LabelFor(m => m.AssetLevel).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.AssetLevel)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.AssetCategory).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.AssetCategory)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.ProjectUnit).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.ProjectUnit)
                </div>
            </div>

            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.AssetType).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.AssetType)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.AssetNoAssetDesc).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.AssetNoAssetDesc)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.AssetDesc).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.AssetDesc)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.SerialNo).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.SerialNo)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.WarrantyExpires).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.WarrantyExpires)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Spesifications).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Spesifications)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Condition).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Condition)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Remarks).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Remarks)
                </div>
            </div>
        </div>
        <input class="k-button k-button-icontext k-grid-add" type="submit" />
    </fieldset>

</form>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
    $(function () {

        $($(".k-input")[0]).change(
        function () {
            alert("hai");
        });

    });
</script>


