


@using MCAWebAndAPI.Model.ViewModel.Form.Asset

@model AssetMasterVM

@using (Ajax.BeginForm("Update", "ASSAssetMaster",
                                                                                                                            FormMethod.Post,
                                                                                                                            new AjaxOptions
                                                                                                                            {
                                                                                                                                OnBegin = "onBeginForm",
                                                                                                                                OnComplete = "onCompleteForm",
                                                                                                                                OnSuccess = "onSuccessFormEmbed",
                                                                                                                                OnFailure = "onFailureForm"
                                                                                                                            }, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Form Asset Master</legend>

        <div class="col-md-12">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.AssetLevel).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.AssetLevel)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.AssetCategory).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.AssetCategory)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.ProjectUnit).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.ProjectUnit)
                </div>
            </div>

            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.AssetType).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.AssetType)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.AssetNoAssetDesc).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.AssetNoAssetDesc)
                </div>
            </div>

            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.AssetDesc).Class("col-md-4 control-label")
                <div class="col-md-8">
                    <textarea name="AssetDesc" style="width:100%;height:57px" required oninvalid="InvalidMsg(this);">@Model.AssetDesc</textarea>
                </div>
            </div>

            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.SerialNo).Class("col-md-4 control-label")
                <div class="col-md-8">
                    <input type="text" id="SerialNo" name="SerialNo" style="width: 100%;" />
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.WarrantyExpires).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.WarrantyExpires)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Spesifications).Class("col-md-4 control-label")
                <div class="col-md-8">
                    <textarea name="Spesifications" style="width:100%;height:84px">@Model.Spesifications</textarea>

                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Condition).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Condition)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Remarks).Class("col-md-4 control-label")
                <div class="col-md-8">
                    <textarea name="Remarks" style="width:100%;height:123px">@Model.Remarks</textarea>
                </div>
            </div>
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.InterviewerUrl)
            @Html.HiddenFor(m => m.AssetCategory.Value)
            @Html.HiddenFor(m => m.ProjectUnit.Value)
            @Html.HiddenFor(m => m.AssetType.Value)
            @Html.HiddenFor(m => m.AssetNoAssetDesc.Value)
            <div class="form-group">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-8">

                    <input class="k-button k-button-icontext k-grid-add" type="submit" value="Save" />
                    <a href="@Model.InterviewerUrl" target='_parent'>
                        <input class="k-button k-button-icontext k-grid-add" size="4" value="Cancel" />
                    </a>
                </div>
            </div>
    </fieldset>



}
@section scripts{

    <script>
        function validateForm() {
            var x = $("#AssetDesc_Value").data("kendoDropDownList");
            //alert("assetDesc : " + x);
            if (x == null || x == "") {
                alert("Must be filled out");
                return false;
            }
        }
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            //alert($("#AssetLevel_Value").data("kendoDropDownList").text());
            if ($("#AssetLevel_Value").data("kendoDropDownList").text() == "Main Asset") {
                $("#AssetNoAssetDesc_Value").data("kendoDropDownList").enable(false);
                $("#AssetNoAssetDesc_Value").data("kendoDropDownList").value("");
                $("#AssetCategory_Value").data("kendoDropDownList").enable(true);
                $("#ProjectUnit_Value").data("kendoDropDownList").enable(true);
                $("#AssetType_Value").data("kendoDropDownList").enable(true);
            }
            else {
                $("#AssetNoAssetDesc_Value").data("kendoDropDownList").enable(true);
                $("#AssetCategory_Value").data("kendoDropDownList").enable(false);
                $("#AssetCategory_Value").data("kendoDropDownList").value("");
                $("#ProjectUnit_Value").data("kendoDropDownList").enable(false);
                $("#ProjectUnit_Value").data("kendoDropDownList").value("");
                $("#AssetType_Value").data("kendoDropDownList").enable(false);
                $("#AssetType_Value").data("kendoDropDownList").value("");
            }
            //alert("PO : " + $("#ProjectUnit_Value").data("kendoDropDownList").text());
        });



        function onAssetIDChange() {
            //$("#AssetCategory_Value").data("kendoDropDownList").enable(false);
            //$("#ProjectUnit_Value").data("kendoDropDownList").enable(false);
            //$("#AssetType_Value").data("kendoDropDownList").enable(false);
        }

        function onAssetLevelClick(e) {
            //alert("asset level : " + this.dataItem(e.item));
            if (this.dataItem(e.item) == "Main Asset") {
                $("#AssetCategory_Value").data("kendoDropDownList").enable(true);
                $("#AssetCategory_Value").data("kendoDropDownList").value("");

                $("#ProjectUnit_Value").data("kendoDropDownList").enable(true);
                $("#ProjectUnit_Value").data("kendoDropDownList").value("");

                $("#AssetType_Value").data("kendoDropDownList").enable(true);
                $("#AssetType_Value").data("kendoDropDownList").value("");

                $("#AssetNoAssetDesc_Value").data("kendoDropDownList").enable(false);
                $("#AssetNoAssetDesc_Value").data("kendoDropDownList").value("");

            }
            else {
                $("#AssetCategory_Value").data("kendoDropDownList").enable(false);
                $("#AssetCategory_Value").data("kendoDropDownList").value("");

                $("#ProjectUnit_Value").data("kendoDropDownList").enable(false);
                $("#ProjectUnit_Value").data("kendoDropDownList").value("");

                $("#AssetType_Value").data("kendoDropDownList").enable(false);
                $("#AssetType_Value").data("kendoDropDownList").value("");

                $("#AssetNoAssetDesc_Value").data("kendoDropDownList").enable(true);
                $("#AssetNoAssetDesc_Value").data("kendoDropDownList").value("");

            }
        }

    </script>
}
