
@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ApplicationShortlistVM

@{ 
    ViewBag.Title = "ShortlistData";
}

@using (Html.BeginForm("UpdateShortlistData", "HRShortlist", FormMethod.Post, new {
        @class = "form-horizontal",
        enctype = "multipart/form-data"
}))
{
    <fieldset>
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.Position)
        @Html.HiddenFor(m => m.PositionName)
        @Html.HiddenFor(m => m.useraccess)
        
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.ActivePosition).Class("col-md-2 control-label")
                <div class="col-md-3">
                    @Html.EditorFor(m => m.ActivePosition)
                </div>
            </div>
        </div>
            <legend>Candidate list</legend>
            <div class="row">
                @Html.Partial("_ShortlistDetails", Model.ShortlistDetails)
            </div>


</fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.SendTo).Class("col-xs-4 control-label")
                    <div class="col-xs-8">
                        @Html.EditorFor(m => m.SendTo)
                    </div>
                </div>
                </div>
                <div class="col-sm-8">

                    <button id="submit-nextstep" class="btn btn-primary" type="submit">
                        <i class="fa fa-send"></i>
                        send to next step
                    </button>
                    <button id="submit-button" class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        save
                    </button>
                </div>
            </div>
    </div>
    
}

@section scripts{

    <script>

        function OnChangeActivePosition(e) {
            var dataItem = this.dataItem(e.item);
            if (dataItem.ID != 0) {
                window.location = "/HRShortlist/ShortlistData?siteurl=&position=" + dataItem.ID + "&username=&useraccess=" + $("#useraccess").val() + "";
            }
        };

        $(document).ready(function () {

            var positionID = $("#Position").val();
            var User = $("#useraccess").val();

            if (User == "REQ") {
                $("#ActivePosition_Value ").data("kendoDropDownList").enable(false);
            }

            var url = "/HRDataMaster/GetPosition/" + positionID;
            $.getJSON(url, function (data) {
                $("#PositionName").prop("value", data.PositionName);
            })
        });
    </script>
}

