
@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ApplicationShortlistVM

@{
    ViewBag.Title = "ShortlistIntvinvite";
}

@using (Html.BeginForm("CreateIntvinvite", "HRShortlist", FormMethod.Post, new
{
    @class = "form-horizontal",
    enctype = "multipart/form-data"
}))
{
    <fieldset>
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.Position)
        @Html.HiddenFor(m => m.PositionName)
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Position).Class("col-sm-2 control-label")
                <div class="col-sm-8">
                    <input id="vacant-position" class="form-control" value="" />
                </div>
            </div>
        </div>

        <legend>Candidate list</legend>
        <div class="row">
            @Html.Partial("_IntvinviteDetails", Model.ShortlistDetails)
        </div>


    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.InterviewerPanel).Class("col-sm-2 control-label")
                    <div class="col-sm-6">
                        @Html.EditorFor(m => m.InterviewerPanel)
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.EmailMessage).Class("col-sm-2 control-label")
                    <div class="col-sm-8">

                        @Html.EditorFor(m => m.EmailMessage)
                    </div>
                </div>
            </div>
            <div class="col-sm-12">

                @*<button id="submit-nextstep" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    send to next step
                </button>*@
                <button id="submit-button" class="btn btn-primary" type="submit">
                    <i class="fa fa-send"></i>
                    Send Email to Interviewer Panel
                </button>
                @*<button id="submit-cancel" class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    cancel
                </button>*@

            </div>
        </div>
        </div>
}

@section scripts{
    <script>
        function OnChangeActivePosition(e) {
            var dataItem = this.dataItem(e.item);
            window.location = "/HRShortlist/ShortlistData?siteurl=&position=" + dataItem.ID + "&username=&useraccess=HR";
        };


        $(document).ready(function () {
            debugger;
            $("#vacant-position").prop('readonly', 'true');
            var positionID = $("#Position").val();

            var url = "/HRDataMaster/GetPosition/" + positionID;
            $.getJSON(url, function (data) {
                $("#vacant-position").prop("value", data.PositionName);
            })


        });
    </script>

}

