
@using MCAWebAndAPI.Model.ViewModel.Form.HR
@model ApplicationShortlistVM

@{ 
    ViewBag.Title = "ShortlistData";
}

@using (Html.BeginForm("UpdateShortlistData", "HRShortlist", FormMethod.Post, new {
        @class = "form-horizontal",
        enctype = "multipart/form-data"
}))
{
    <fieldset>
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.Position)
        <div class="row">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.ActivePosition).Class("col-md-2 control-label")
                <div class="col-md-3">
                    @Html.EditorFor(m => m.ActivePosition)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    </div>
                <div class="col-md-3">
                    <input id="vac-position" class="form-control" value="" />
                    </div>
                </div>
            </div>
            <legend>Candidate list</legend>
            <div class="row">
                @Html.Partial("_ShortlistDetails", Model.ShortlistDetails)
            </div>


</fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.SendTo).Class("col-xs-4 control-label")
                    <div class="col-xs-8">
                        @Html.EditorFor(m => m.SendTo)
                    </div>
                </div>
                </div>
                <div class="col-sm-8">

                    <button id="submit-nextstep" class="btn btn-primary" type="submit">
                        <i class="fa fa-send"></i>
                        send to next step
                    </button>
                    <button id="submit-button" class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        save
                    </button>
                    @*<button id="submit-cancel" class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        cancel
                    </button>*@

                </div>
            </div>
    </div>
    
}

@section scripts{

    <script>
        $(document).ready(function () {
            $("#vac-position").prop('readonly', 'true');
            var positionID = $("#Position").val();
            $("#vac-position").prop("value", positionID);
            //var url = "/HRDataMaster/GetPosition/" + positionID;
            //$.getJSON(url, function (data) {
            //    $("#vac-position").prop("value", positionID);
            //})

        });
    </script>
}

