@using MCAWebAndAPI.Model.ViewModel.Form.Asset



@model AssignmentofAssetVM

@using (Ajax.BeginForm("SubmitAsset", "ASSAssignmentofAsset",
                                                                                                                                                                           FormMethod.Post,
                                                                                                                                                                           new AjaxOptions
                                                                                                                                                                           {
                                                                                                                                                                               OnBegin = "onBeginForm",
                                                                                                                                                                               OnComplete = "onCompleteForm",
                                                                                                                                                                               OnSuccess = "onSuccessFormEmbed",
                                                                                                                                                                               OnFailure = "onFailureForm"
                                                                                                                                                                           }, new { @class = "form-horizontal" }))

{
    <form class="form-horizontal" method="post" action="/ASSAssignmentofAsset/SubmitAsset" id="create-asset-acquisition-form">
        <fieldset>
            <legend>Form Asset Acquisition</legend>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.TransactionType).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.TransactionType)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Date).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.Date)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.AssetHolder).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.AssetHolder)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Project).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Project)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.ContactNo).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.ContactNo)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Attachment).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.Attachment)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.CompletionStatus).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.CompletionStatus)
                    </div>
                </div>
            </div>
            <div>
                @*@Html.Partial("_Details", Model.Details)*@
            </div>
        </fieldset>
        @*@Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.CancelURL)
        @Html.HiddenFor(m => m.Vendor)
        @Html.HiddenFor(m => m.PoNo)*@
        <div>
            <center>
                <input class="k-button k-button-icontext k-grid-add" onclick="SimpenAsset()" type="submit" value="Save" />
                @*<a href="@Model.CancelURL" target='_parent'>
                    <input class="k-button k-button-icontext k-grid-add" size="4" value="Cancel" />
                </a>*@
            </center>
        </div>

    </form>
}

