@using MCAWebAndAPI.Model.ViewModel.Form.Asset

@model AssignmentofAssetVM

<form class="form-horizontal" method="post" action="/ASSAssignmentofAsset/Create" id="create-assign-of-asset-form">
    <fieldset>
        <legend>Form Assign of Asset</legend>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.TransactionType).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Header.TransactionType)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.AssetHolder).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Header.AssetHolder)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.Date).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Header.Date)
                </div>
            </div>
        </div>
    </fieldset>

</form>