@using MCAWebAndAPI.Model.ViewModel.Form.Asset



@model AssignmentOfAssetVM

@using (Ajax.BeginForm("Submit", "ASSAssignmentOfAsset",
                                                                                                                                       FormMethod.Post,
                                                                                                                                       new AjaxOptions
                                                                                                                                       {
                                                                                                                                           OnBegin = "onBeginForm",
                                                                                                                                           OnComplete = "onCompleteForm",
                                                                                                                                           OnSuccess = "onSuccessFormEmbed",
                                                                                                                                           OnFailure = "onFailureForm"
                                                                                                                                       }, new { @class = "form-horizontal" }))

{
    <form class="form-horizontal" method="post" action="/ASSAssignmentOfAsset/Submit" id="create-asset-acquisition-form">
        <fieldset>
            <legend>Form Asset Acquisition</legend>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.TransactionType).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        <input type="text" disabled name="TransactionType" value="Assignment Of Asset" style="width : 100%"/>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Date).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.Date)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.AssetHolder).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.AssetHolder)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.ProjectUnit).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        <input type="text" disabled name="ProjectUnit" id="ProjectUnit" value="" style="width : 100%"/>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.ContactNo).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        <input type="text" disabled name="ContactNo" id="ContactNo" value="" style="width : 100%"/>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.CompletionStatus).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.CompletionStatus)
                    </div>
                </div>
            </div>
            <div>
                @Html.Partial("_Details", Model.Details)
            </div>
        </fieldset>

        <div>
            <center>
                <input class="k-button k-button-icontext k-grid-add" type="submit" value="Save" />
            </center>
        </div>

    </form>
}


<script>
    $(document).ready(function () {
        $("#AssetHolder_Value").data("kendoDropDownList").value("");
        //alert($("#Province").data("kendoDropDownList").text());

        })

    function onAssetChange(e)
    {
        var res = this.dataItem(e.item).split("-")
        //alert("berubah jadiii " + res[0]);
        var url = "/ASSAssignmentOfAsset/GetProfMasterInfo?fullname=" + res[0] + "&position=" + res[1];
        $.getJSON(url, function (data) {
            //do next
            document.getElementById('ProjectUnit').value = data.CurrentPosition.Text    ;
            document.getElementById('ContactNo').value = data.MobileNumberOne;
        })
    }
</script>