@using MCAWebAndAPI.Model.ViewModel.Form.Asset



@model AssignmentOfAssetVM

@using (Html.BeginForm("Print", "ASSAssignmentOfAsset", FormMethod.Post,
                                                                                                            new
                                                                                                            {
                                                                                                                @class = "form-horizontal",
                                                                                                                enctype = "multipart/form-data"
                                                                                                            }))
{
    <form class="form-horizontal" method="post" action="/ASSAssignmentOfAsset/Print" id="create-asset-acquisition-form">
        <fieldset>
            <legend>Form Asset Assignment</legend>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.AssetHolder).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        <input type="text" readonly name="TransactionType" value="Assignment Of Asset" style="width : 100%" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Date).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Date)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.AssetHolder).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.AssetHolder)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.ProjectUnit).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        <input type="text" readonly name="ProjectUnit" id="ProjectUnit" value="@Model.ProjectUnit" style="width : 100%" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.ContactNo).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        <input type="text" readonly name="ContactNo" id="ContactNo" value="@Model.ContactNo" style="width : 100%" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.attach).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        <input type="text" readonly name="attach" id="attach" value="@Model.filename" style="width : 100%" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.CompletionStatus).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.CompletionStatus)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.filename).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.filename)
                    </div>
                </div>
            </div>
            <div>
                @Html.Partial("_DetailsView", Model.Details)
            </div>
        </fieldset>
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.CancelURL)
        @Html.HiddenFor(m => m.AssetIDs)
        @Html.HiddenFor(m => m.nameOnly)
        <div>
            <center>
                <a href="@Model.CancelURL" target='_parent'>
                    <input class="k-button k-button-icontext k-grid-add" size="4" value="Cancel" />
                </a>

                <input id="print-button" class="k-button k-button-icontext k-grid-add" size="4" value="Print" />
            </center>
        </div>

    </form>
}


<script>
    $(document).ready(function () {
        //$("#AssetHolder_Value").data("kendoDropDownList").value("");
        $('#print-button').click(function (e) {
            var url = "/ASSAssignmentOfAsset/Print";
            submitFormToPrint(url);
        });
    })

    function saveAssignment() {
        if ($('#AssetHolder_Value').val() == "") {
            alert("Asset Holder Cannot be Empty");
            return false;
        }

        var asset = document.getElementsByClassName("asset");
        var province = document.getElementsByClassName("province");
        for (var j = 0; j < asset.length; j++) {
            if (asset[j].value == "null" || province[j].value == "null") {
                alert("Asset Sub Asset / Province cannot be null!");
                return false;
            }
        }

        var deleteRow = 0;
        var matches = document.querySelectorAll("[name^='Details[']");
        for (var i = 0; i < matches.length; i++) {
            if (matches[i].value == -1) {
                deleteRow++;
            }
        }
        var gridElements = $("#Details").data("kendoGrid").dataSource;
        var total = 0;
        gridElements.fetch(function () {
            total = gridElements.total();
        })
        if (total == 0 || total == deleteRow) {
            alert("Detail cannot Empty");
            return false;
        }
    }

    function onAssetChange(e) {
        var res = this.dataItem(e.item).split("-")
        //alert("berubah jadiii " + res[0]);
        var url = "/ASSAssignmentOfAsset/GetProfMasterInfo?fullname=" + res[0] + "&position=" + res[1];
        $.getJSON(url, function (data) {
            //do next
            document.getElementById('ProjectUnit').value = data.CurrentPosition.Text;
            document.getElementById('ContactNo').value = data.MobileNumberOne;
        })
    }
</script>