@using MCAWebAndAPI.Model.ViewModel.Form.Asset



@model AssetTransferVM
@using (Html.BeginForm("Print", "ASSAssetTransfer", FormMethod.Post,
                                                                                                                        new
                                                                                                                        {
                                                                                                                            @class = "form-horizontal",
                                                                                                                            enctype = "multipart/form-data"
                                                                                                                        }))
{
    <form class="form-horizontal" method="post" action="/ASSAssetTransfer/Update" id="create-asset-acquisition-form">
        <fieldset>
            <legend>Form Asset Transfer</legend>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.TransactionType).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        <input type="text" disabled name="TransactionType" value="Assignment Of Asset" style="width : 100%" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.AssetHolder).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.AssetHolder)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.ProjectUnit).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        <input type="text" disabled name="ProjectUnit" id="ProjectUnit" value="@Model.ProjectUnit" style="width : 100%" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.ContactNo).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        <input type="text" disabled name="ContactNo" id="ContactNo" value="@Model.ContactNo" style="width : 100%" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.CompletionStatus).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.CompletionStatus)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Date).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Date)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.AssetHolderTo).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.AssetHolderTo)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.ProjectUnitTo).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        <input type="text" disabled name="ProjectUnitTo" id="ProjectUnitTo" value="@Model.ProjectUnitTo" style="width : 100%" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.ContactNoTo).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        <input type="text" disabled name="ContactNoTo" id="ContactNoTo" value="@Model.ContactNoTo" style="width : 100%" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.filename).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        <input type="text" disabled name="filename" id="filename" value="@Model.filename" style="width : 100%" />
                    </div>
                </div>
            </div>
            <div>
                @Html.Partial("_DetailsView", Model.Details)
            </div>
        </fieldset>
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.CancelURL)
        @Html.HiddenFor(m => m.AssetIDs)
        @Html.HiddenFor(m => m.ContactNoTo)
        <div>
            <center>
                <a href="@Model.CancelURL" target='_parent'>
                    <input class="k-button k-button-icontext k-grid-add" size="4" value="Cancel" />
                </a>

                <input id="print-button" class="k-button k-button-icontext k-grid-add" size="4" value="Print" />
            </center>
        </div>

    </form>
}


<script>
    $(document).ready(function () {
        //$("#AssetHolder_Value").data("kendoDropDownList").value("");
        $('#print-button').click(function (e) {
            var url = "/ASSAssetTransfer/Print";
            submitFormToPrint(url);
        });
    })

</script>