@using MCAWebAndAPI.Model.ViewModel.Form.Asset



@model AssetReplacementHeaderVM

@using (Ajax.BeginForm("Submit", "ASSAssetReplacement",
                                                                                                                                                                           FormMethod.Post,
                                                                                                                                                                           new AjaxOptions
                                                                                                                                                                           {
                                                                                                                                                                               OnBegin = "onBeginForm",
                                                                                                                                                                               OnComplete = "onCompleteForm",
                                                                                                                                                                               OnSuccess = "onSuccessFormEmbed",
                                                                                                                                                                               OnFailure = "onFailureForm"
                                                                                                                                                                           }, new { @class = "form-horizontal" }))

{
    <form class="form-horizontal" method="post" action="/ASSAssetReplacement/Submit" id="create-asset-acquisition-form">
        <fieldset>
            <legend>Form Asset Replacement</legend>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.TransactionType).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @*@Html.DisplayFor(m => m.TransactionType)*@
                        <input type="text" name="TransactionType" disabled value="Asset Replacement" id="TransactionType" style="width: 100%;" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.OldTransactionId).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.OldTransactionId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.AccMemoNo).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @*@Html.DisplayFor(m => m.TransactionType)*@
                        <input type="text" name="AccMemoNo" disabled id="AccMemoNo" style="width: 100%;" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Vendor).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @*@Html.DisplayFor(m => m.Vendor)*@
                        <input type="text" name="Vendor" disabled value="@Model.Vendor" id="Vendor" style="width: 100%;" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Pono).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @*@Html.DisplayFor(m => m.PoNo)*@
                        <input type="text" name="PoNo" disabled value="@Model.Pono" id="PoNo" style="width: 100%;" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.PurchaseDate).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @*@Html.DisplayFor(m => m.PurchaseDate)*@
                        <input type="text" name="PurchaseDate" disabled value="@Model.PurchaseDate" id="PurchaseDate" style="width: 100%;" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.purchaseDescription).Class("col-md-4 control-label")
                    <div class="col-md-8">
                        @*@Html.EditorFor(m => m.PurchaseDescription)*@
                        <input type="text" disabled name="PurchaseDescription" value="@Model.purchaseDescription" id="PurchaseDescription" style="width: 100%;" />
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="myProgress">
                <div class="form-group" id="myBar">
                    <div id="label">10%...</div>
                </div>
            </div>
            <br />
        </fieldset>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CancelURL)
        @Html.HiddenFor(m => m.Vendor)
        @Html.HiddenFor(m => m.AccMemoNo)
        @Html.HiddenFor(m => m.Pono)
        @Html.HiddenFor(m => m.purchaseDescription)
        @Html.HiddenFor(m => m.OldTransactionId.Value)
        <div>
            <center>
                <a href="@Model.CancelURL" target='_parent'>
                    <input class="k-button k-button-icontext k-grid-add" size="4" value="Cancel" />
                </a>
            </center>
        </div>

    </form>
}

<style>
    #myProgress {
        position: relative;
        width: 100%;
        height: 30px;
        background-color: #ddd;
    }

    #myBar {
        position: absolute;
        width: 10%;
        height: 100%;
        background-color: #4CAF50;
    }

    #label {
        text-align: center;
        line-height: 30px;
        color: white;
    }
</style>

<script>
    $(document).ready(function () {
        $("#myProgress").hide();
        $('#PurchaseDate').prop('value', "")
        $("#OldTransactionId_Value").data("kendoDropDownList").value("");
        var query = window.location.search.substring(1);
        //var vars = query.split("&");
        var varsID = query.split('=');
        //alert(varsID[2]);
        if (varsID.length > 2)
        {
            $("#myProgress").show();
            $("#OldTransactionId_Value").data("kendoDropDownList").value(varsID[2]);
            var url = "/ASSAssetReplacement/GetInfoFromAcquisitin?ID=" + varsID[2];
            $.getJSON(url, function (data) {
                //alert(data.purchasedatetext);
                document.getElementById('Vendor').value = data.Vendor;
                document.getElementById('PoNo').value = data.Pono;
                document.getElementById('PurchaseDate').value = data.purchasedatetext;
                $('#PurchaseDescription').prop('value', data.purchaseDescription);

                var url = "/ASSAssetReplacement/GetAll?ID=" + varsID[2];
                var link = $("#CancelURL").val().split('/');
                link = link[0] + "//" + link[2] + "/" + link[3] + "/" + link[4] + "/" + link[5];
                //alert(link);
                window.location = url + "&SiteUrl=" + link;
            });
        }

    })

    
    function onIdChange(e) {
        var res = this.dataItem(e.item);
        //alert("Acceptance Memo ID : " + res[0]);

        var url = "/ASSAssetReplacement/GetInfoFromAcquisitin?id=" + res;
        $("#myProgress").show();
        $.getJSON(url, function (data) {
            //alert(data.purchasedatetext);
            $("#myProgress").show();
            document.getElementById('Vendor').value = data.Vendor;
            document.getElementById('PoNo').value = data.Pono;
            document.getElementById('PurchaseDate').value = data.purchasedatetext;
            $('#PurchaseDescription').prop('value', data.purchaseDescription);

            move();

            var url = "/ASSAssetReplacement/GetAll?id=" + res;
            var link = $("#CancelURL").val().split('/');
            link = link[0] + "//" + link[2] + "/" + link[3] + "/" + link[4] + "/" + link[5];
            //alert(link);
            window.location = url+"&SiteUrl="+link;
        });
    }

    function move() {
        var elem = document.getElementById("myBar");
        var width = 20;
        var id = setInterval(frame, 2);
        function frame() {
            if (width >= 100) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width + '%';
                if (width < 100)
                {
                    document.getElementById("label").innerHTML = width * 1 + '%...';
                }
                else
                {
                    document.getElementById("label").innerHTML = width * 1 + '%';
                }
                
            }
        }
    }
</script>