@using MCAWebAndAPI.Model.ViewModel.Form.Asset

@model AssetReplacementVM

<form class="form-horizontal" method="post" action="/ASSassetReplacement/Create" id="create-asset-replacement-form">
    <fieldset>
        <legend>Form Asset Replacement</legend>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.TransactionType).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Header.TransactionType)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.OldTransactionId).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Header.OldTransactionId)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.PurchaseDate).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Header.PurchaseDate)
                </div>
            </div>
            <div class="form-group">
                @Html.Bootstrap().LabelFor(m => m.Header.PurchaseDesc).Class("col-md-4 control-label")
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Header.PurchaseDesc)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @(Html.Kendo().Grid(Model.Items)
                    .Name("asset-replacement-items-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.NewAsset);
                        columns.Bound(p => p.Item);
                        columns.Bound(p => p.PoLineItem);
                        columns.Bound(p => p.AssetNo);
                        columns.Bound(p => p.AssetSubNo);
                        columns.Bound(p => p.AssetDescription);
                        columns.Bound(p => p.WbsId);
                        columns.Bound(p => p.WbsDesc);
                        columns.Bound(p => p.CostIdr);
                        columns.Bound(p => p.CostUsd);
                        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
                    })
                    .ToolBar(toolbar => toolbar.Create())
                    .Editable(editable => editable.Mode(GridEditMode.PopUp))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Model(model => model.Id(p => p.Id))
                        .Create(update => update.Action("EditingPopup_Create", "ASSAssetReplacement"))
                        .Update(update => update.Action("EditingPopup_Update", "ASSAssetReplacement"))
                        .Destroy(update => update.Action("EditingPopup_Destroy", "ASSAssetReplacement"))
                )
                )
            </div>
        </div>
    </fieldset>

</form>